<button type="button" class="btn btn-outline-dark btn-sm p-0 border-0"
        onclick={{action "showModal"}}
        id={{this.componentId}}
 >
  {{fa-icon "list-ul"}}
</button>

{{#if this.isShowingModal}}
  <Dialog::MeasurementGroups
    @oil={{@oil}}
    @submit={{@submit}}
    @closeModal={{this.closeModal}}
    @componentId={{concat "#" this.componentId}}
    @valueTitle={{@valueTitle}}
    @valueIndex={{@valueIndex}}
  />
{{/if}}
