<button type="button"
 {{on "click" this.launchSelectDialog}}
 {{did-insert this.setComponentElement}}
 >
  {{this.baseProperty}}
</button>

{{#if this.selectingUnit}}
  <Dialog::SelectUnit
    @baseProperty={{this.baseProperty}}
    @parent={{this.element}}
    @unitType={{@unitType}}
    @defaultUnit={{@defaultUnit}}
    @closeModal={{this.closeSelectDialog}}
    @ok={{@change}}
  />
{{/if}}
