<button type="button"
 {{on "click" this.launchSelectDialog}}
 {{did-insert this.setComponentElement}}
 >
  {{this.baseProperty}}
</button>

{{#if this.selectingUnit}}
  <Dialog::SelectUnit
    @baseProperty={{this.baseProperty}}
    @parent={{this.element}}
    @unitType={{this.args.unitType}}
    @defaultUnit={{this.args.defaultUnit}}
    @closeModal={{this.closeSelectDialog}}
    @ok={{this.args.change}}
  />
{{/if}}
