<div class="container-fluid">
  <div class="d-flex justify-content-between p-1">
    <div class="align-content-left">
      <p>Browse through the list of oils, or query for a particular oil.</p>
    </div>

    <div class="align-content-right">
      {{#if this.canModifyDb}}
        <Button::AddNewOil @submit={{action send "createOil"}} />

        <Button::Upload @submit={{action send "createOil"}} />
      {{/if}}

      <Button::ReportProblemQuery/>

    </div>
  </div>
</div>

<Table::OilQuery
  @model={{this.model}}
  @labels={{this.labels}}
  @productTypes={{this.productTypes}}
  @capabilities={{this.capabilities}}
  @savedFilters={{this.savedFilters}}
/>

{{outlet}}
