<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      <div class="row pl-3 d-flex align-items-center">

        {{!-- back to oil list control --}}
        <div class=" mr-2">
          {{#link-to "oils"}}
            <button type="button" class="btn btn-dark"
              data-toggle="tooltip" title="Back to List">
              &lt; Back to List
            </button>
          {{/link-to}}
        </div>

        {{!-- oil status --}}
        <strong>
          Status:
          {{#if this.model.hasDirtyAttributes}}
            <i class="status-warning">Saving...</i>
          {{else if (eq (get-status this.model.status) "OK")}}
            <i class="status-good">OK</i>
          {{else if (eq (get-status this.model.status) "Errors")}}  
            <i class="status-error">Errors</i>
          {{else}}  
            <i class="status-warning">Warnings</i>
          {{/if}}
        </strong>

      </div>
    </div>

    {{!-- oil title --}}
    <div class="col-sm">
      <h2 align="center" class="title">{{this.model.name}}</h2>
    </div>

    <div class="col-sm-3">
      <div class="row">

        <div class="col-sm-5">
          {{!-- edit mode switch control --}}
          <center class="small">Edit Mode</center>
          <XToggle
            @theme="ios"
            @showLabels={{true}}
            @onLabel="Edit"
            @offLabel="View"
            @value={{this.editable}}
            @onToggle={{action (mut this.editable)}}
          />
        </div>

        <div class="col-sm-3">
          <Button::CopyOil
            @oil={{this.model}}
            @submit={{action send "createOil"}}
          />
        </div>
    
        <div class="col-sm-3">
          <Button::DeleteOil
            @oil={{this.model}}
            @submit={{action send "deleteOil"}}
          />
        </div>
    
      </div>
    </div>

  </div>

  <div class="content">
    <TabGeneral
      @oil={{this.model}}
      @editable={{this.editable}}
      @submit={{action send "updateOil"}}
      @oilTypes={{array
          "crude"
          "refined"
          "bitumen product"
          "other"
          "empty (unclassified)"}}
    />
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {{#each (weathered-samples this.model) as |name idx|}}
        {{#if idx}}
          <a id="nav-{{slug name.[0]}}-tab" href="#nav-{{slug name.[0]}}"
             aria-controls="nav-{{slug name.[0]}}"
             data-toggle="tab" role="tab"
             class="nav-item nav-link" aria-selected="false">
            {{name.[1]}}

            {{#if editable}}
              <TabNav::RemoveSample
                @oil={{this.model}}
                @index={{idx}}
                @submit={{action send "updateOil"}}
              />
            {{/if}}
          </a>
        {{else}}
          <a id="nav-{{slug name.[0]}}-tab" href="#nav-{{slug name.[0]}}"
             aria-controls="nav-{{slug name.[0]}}"
             data-toggle="tab" role="tab"
             class="nav-item nav-link active" aria-selected="true">
            {{name.[1]}}
          </a>
        {{/if}}
      {{/each}}

      {{#if editable}}
        <TabNav::AddSample
          @oil={{this.model}}
          @submit={{action send "updateOil"}}
        />

      {{/if}}

    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    {{#each (weathered-samples this.model) as |name idx|}}
      {{#if idx}}
        <div class="tab-pane fade active" role="tabpanel"
             id="nav-{{slug name.[0]}}" aria-labelledby="nav-{{slug name.[0]}}-tab">
          <TabPane::WeatheredTopLevel
            @oil={{this.model}} @sampleName={{name.[0]}}
            @editable={{this.editable}}
            @submit={{action send "updateOil"}}
          />
        </div>
      {{else}}
        <div class="tab-pane fade active show" role="tabpanel"
             id="nav-{{slug name.[0]}}" aria-labelledby="nav-{{slug name.[0]}}-tab">
          <TabPane::WeatheredTopLevel
            @oil={{this.model}} @sampleName={{name.[0]}}
            @editable={{this.editable}}
            @submit={{action send "updateOil"}}
          />
        </div>
      {{/if}}
    {{/each}}

  </div>

</div>
