<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="row">
        <h3>
          {{#link-to "oils"}}
            <button type="button" class="btn btn-dark"
                    data-toggle="tooltip" title="Back to List">
              {{fa-icon "angle-double-up"}}
            </button>
          {{/link-to}}
        </h3>
	    &nbsp;
          <XToggle
            @theme="ios"
            @showLabels={{true}}
            @value={{this.editable}}
            @onToggle={{action (mut this.editable)}}
            as |toggle|>
            <toggle.switch />

            <toggle.label @value={{not this.editable}}>
              &nbsp; &nbsp; {{if this.editable "Edit" ""}}
            </toggle.label>
          </XToggle>

      </div>
    </div>

    <div class="col-sm">
      <h2 class="title">{{this.model.name}}</h2>
    </div>

  </div>

  <div class="content">
    <TabGeneral @oil={{this.model}} />
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {{#each (weathered-samples this.model) as |name idx|}}
        {{#if idx}}
          <a id="nav-{{slug name.[0]}}-tab" href="#nav-{{slug name.[0]}}"
             aria-controls="nav-{{slug name.[0]}}"
             data-toggle="tab" role="tab"
             class="nav-item nav-link" aria-selected="false">
            {{name.[1]}}
          </a>
        {{else}}
          <a id="nav-{{slug name.[0]}}-tab" href="#nav-{{slug name.[0]}}"
             aria-controls="nav-{{slug name.[0]}}"
             data-toggle="tab" role="tab"
             class="nav-item nav-link active" aria-selected="true">
            {{name.[1]}}
          </a>
        {{/if}}
      {{/each}}
      
      <a id="nav-add-tab" href="#nav-add"
         data-toggle="tab"
         class="nav-item nav-link add-sample">
        {{fa-icon "plus"}}
      </a>
      
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    {{#each (weathered-samples this.model) as |name idx|}}
      {{#if idx}}
        <div class="tab-pane fade active" role="tabpanel"
             id="nav-{{slug name.[0]}}" aria-labelledby="nav-{{slug name.[0]}}-tab">
          <TabPane::WeatheredTopLevel @oil={{this.model}} @sampleName={{name.[0]}}/>
        </div>
      {{else}}
        <div class="tab-pane fade active show" role="tabpanel"
             id="nav-{{slug name.[0]}}" aria-labelledby="nav-{{slug name.[0]}}-tab">
          <TabPane::WeatheredTopLevel @oil={{this.model}} @sampleName={{name.[0]}}/>
        </div>
      {{/if}}
    {{/each}}

  </div>

</div>
