<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-sm">

      {{!-- oil title --}}
      <h2 align="center" class="title">{{this.model.metadata.name}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-xs-12">

      {{!-- back to oil list control --}}
      <div class="mr-2 d-inline-block">
        <LinkTo @route="oils">
          <button type="button" class="btn btn-dark btn-sm m-1 text-nowrap"
            data-toggle="tooltip" title="Back to List">
            &lt; Back to List
          </button>
        </LinkTo>

        {{!-- oil status --}}
        <strong>
          Status:
          {{#if this.model.hasDirtyAttributes}}
            <i class="status-warning">Saving...</i>
          {{else if (eq (get-status this.model.status) "OK")}}
            <i class="status-good">OK</i>
          {{else if (eq (get-status this.model.status) "Errors")}}
            <i class="status-error">Errors</i>
          {{else}}
            <i class="status-warning">Warnings</i>
          {{/if}}
        </strong>
      </div>

    </div>

    <div class="col-sm-4 col-xs-12">
      <div class="row align-items-center justify-content-center">

        <div class="col-xs-4 mt-2 text-center">
          {{!-- edit mode switch control --}}
          <XToggle
            @theme="ios"
            @showLabels={{true}}
            @onLabel="Edit"
            @offLabel="View"
            @value={{this.editable}}
            @onToggle={{action (mut this.editable)}}
          />
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3 offset-lg-1">
      <div class="d-flex">
        <Button::Download @oil={{this.model}} />

        <Button::CopyOil
          @oil={{this.model}}
          @submit={{action send "createOil"}}
        />

        <Button::DeleteOil
          @oil={{this.model}}
          @submit={{action send "deleteOil"}}
        />

      </div>
    </div>
  </div>


  <div class="content">
    <OilDemographics
      @oil={{this.model}}
      @labels={{this.labels}}
      @productTypes={{this.productTypes}}
      @editable={{this.editable}}
      @submit={{action send "updateOil"}}
      @oilTypes={{array
          "crude"
          "refined"
          "bitumen product"
          "other"
          "empty (unclassified)"}}
    />
  </div>


  <OilSamples
    @oil={{this.model}}
    @editable={{this.editable}}
    @categoryTab={{this.currentCategoryTab}}
    @updateCategoryTab={{action this.updateCategoryTab}}
    @sampleTab={{this.currentSampleTab}}
    @updateSampleTab={{action this.updateSampleTab}}
    @submit={{action send "updateOil"}}
  />

</div>
