<div class="container-fluid">
  <div class="row d-flex justify-content-center">
      {{!-- oil title --}}
      {{#if this.editable}}
        {{#let (if this.model.metadata.name this.model.metadata.name "") as |oilName|}}
          <div class="col-3">
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilName}}
                @placeholder="Enter Name"
                @change={{action "updateName"}}
                size="30"
              />
          </div>
        {{/let}}
      {{else}}
        <div class="col-12 col-sm">
          <h2 align="center" class="title">{{this.model.metadata.name}}</h2>
        </div>
      {{/if}}
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">

      {{!-- back to oil list control --}}
      <div class="mr-2 d-inline-block">
        {{#if this.changesMade}}
          <Button::BackToList
            @oil={{this.model}}
            @submit={{action send "discardTemporaryEdits" this.model "oils.index"}}
          />
        {{else}}
          <LinkTo @route="oils">
            <button type="button" class="btn btn-dark btn-sm m-1 text-nowrap"
              data-toggle="tooltip" title="Back to List">
              &lt; Back to List
            </button>
          </LinkTo>
        {{/if}}


        {{!-- oil status --}}
        <strong>
          Status:
          {{#if this.model.hasDirtyAttributes}}
            <i class="status-warning">Saving...</i>
          {{else if (eq (get-status this.model.status) "OK")}}
            <i class="status-good">OK</i>
          {{else if (eq (get-status this.model.status) "Errors")}}
            <i class="status-error">Errors</i>
          {{else}}
            <i class="status-warning">Warnings</i>
          {{/if}}
        </strong>
      </div>

    </div>

    <div class="col-xs-12 col-sm-4 col-lg-3">
      <div class="row align-items-center justify-content-center">

        <div class="col-xs-4 mt-2 text-center">
          {{!-- edit mode switch control --}}
          {{#if this.canModifyDb}}
            <XToggle
              @theme="ios"
              @showLabels={{true}}
              @onLabel="Edit"
              @offLabel="View"
              @value={{this.editable}}
              @onToggle={{this.setEditable}}
            />
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-4">
      <div class="d-flex">

        {{#if this.canModifyDb}}
          <Button::DiscardEdits
            @oil={{this.model}}
            @submit={{action send "discardTemporaryEdits" this.model ""}}
            @changesMade={{this.changesMade}}
          />

          <Button::SaveEdits
            @oil={{this.model}}
            @submit={{action (pipe
                        (action send "updateOil" this.model)
                        (action send "commitTemporaryEdits" this.model))
                    }}
            @changesMade={{this.changesMade}}
          />
        {{/if}}
 
        <Button::Download @oil={{this.model}} />

        {{#if this.canModifyDb}}
          <Button::CopyOil
            @oil={{this.model}}
            @submit={{action send "createOil"}}
          />
        {{/if}}

        {{#if this.canModifyDb}}
          <Button::DeleteOil
            @oil={{this.model}}
            @submit={{action send "deleteOil"}}
          />
        {{/if}}

        <Button::ReportProblemOil @oil={{this.model}} />

      </div>
    </div>
  </div>


  <div class="content">
    <OilDemographics
      @oil={{this.model}}
      @labels={{this.labels}}
      @productTypes={{this.productTypes}}
      @editable={{this.editable}}
      @submit={{action send "updateOil"}}
      @oilTypes={{array
          "crude"
          "refined"
          "bitumen product"
          "other"
          "empty (unclassified)"}}
    />
  </div>


  <OilSamples
    @oil={{this.model}}
    @editable={{this.editable}}
    @categoryTab={{this.currentCategoryTab}}
    @updateCategoryTab={{action this.updateCategoryTab}}
    @sampleTab={{this.currentSampleTab}}
    @updateSampleTab={{action this.updateSampleTab}}
    @distillationTypes={{this.distillationTypes}}
    @submit={{action send "updateOil"}}
  />

</div>
