<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {{#each (weathered-samples this.oil) as |name idx|}}
      <a id="nav-{{slug name.[0]}}-tab"
         href="#nav-{{slug name.[0]}}"
         aria-controls="nav-{{slug name.[0]}}"
         data-toggle="tab" role="tab"
         class="nav-item nav-link"
         aria-selected="false"
         tab-level="0">

        {{#if this.editable}}
          <Input
            @class="p-1 overflow-hidden bg-transparent border"
            @value={{name.[1]}}
            @change={{action "updateShortSampleName" idx}}
          />
        {{else}}
          {{name.[1]}}
        {{/if}}

        {{#if idx}}
          {{#if this.editable}}
            <TabNav::RemoveSample
              @oil={{this.oil}}
              @index={{idx}}
              @submit={{this.submit}}
            />
          {{/if}}
        {{/if}}
      </a>
    {{/each}}

    {{#if this.editable}}
      <TabNav::AddSample
        @oil={{this.oil}}
        @submit={{this.submit}}
      />
    {{/if}}

  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  {{#each (weathered-samples this.oil) as |name idx|}}
    {{#if idx}}
      <div class="tab-pane fade active" role="tabpanel"
           id="nav-{{slug name.[0]}}"
           aria-labelledby="nav-{{slug name.[0]}}-tab"
           tab-level="0">
        <TabPane::SubSample
          @oil={{this.oil}}
          @store={{this.oil.store}}
          @editable={{this.editable}}
          @submit={{this.submit}}
          @sampleName={{name.[0]}}
          @categoryTab={{this.categoryTab}}
          @updateCategoryTab={{this.updateCategoryTab}}
        />
      </div>
    {{else}}
      <div class="tab-pane fade active show" role="tabpanel"
           id="nav-{{slug name.[0]}}"
           aria-labelledby="nav-{{slug name.[0]}}-tab"
           tab-level="0">
        <TabPane::SubSample
          @oil={{this.oil}}
          @store={{this.oil.store}}
          @editable={{this.editable}}
          @submit={{this.submit}}
          @sampleName={{name.[0]}}
          @categoryTab={{this.categoryTab}}
          @updateCategoryTab={{this.updateCategoryTab}}
        />
      </div>
    {{/if}}
  {{/each}}

</div>
