<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {{#each this.navTabProperties as |props idx|}}
      <a data-toggle="tab" role="tab" tab-level="0"
         id={{props.id}}
         href={{props.href}}
         aria-controls={{props.aria-controls}}
         class={{props.class}}
         aria-selected={{props.aria-selected}}
         {{did-insert this.setEventShown}}
      >


        {{#if this.args.editable}}
          <Input
            @class="p-1 overflow-hidden bg-transparent border"
            @value={{props.short_name}}
            @change={{action "updateShortSampleName" idx}}
          />
        {{else}}
          {{props.short_name}}
        {{/if}}

        {{#if idx}}
          {{#if this.args.editable}}
            <TabNav::RemoveSample
              @oil={{this.args.oil}}
              @index={{idx}}
              @submit={{this.args.submit}}
            />
          {{/if}}
        {{/if}}
      </a>
    {{/each}}

    {{#if this.args.editable}}
      <TabNav::AddSample
        @oil={{this.args.oil}}
        @submit={{this.args.submit}}
      />
    {{/if}}

  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  {{#each this.tabPaneProperties as |props|}}
    <div role="tabpanel" tab-level="0"
      id={{props.id}}
      aria-labelledby={{props.aria-labelledby}}
      class={{props.class}}
    >
      <TabPane::SubSample
        @oil={{this.args.oil}}
        @store={{this.args.oil.store}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @sampleTab={{this.args.sampleTab}}
        @categoryTab={{this.args.categoryTab}}
        @updateCategoryTab={{this.args.updateCategoryTab}}
        @sampleName={{props.name}}
      />
    </div>
  {{/each}}

</div>
