<div class="container-fluid">

  <div class="row pl-0 pr-0">

    <div class="col-6">

      <div class="row pl-0 mb-1">

        {{! Oil ID }}
        <div class="col-sm-12 col-md-5 pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">ID:</label>
          </div>
          <span class="p-1">{{@oil.id}}</span>
        </div>

        {{! Location }}
        <div class="col-sm-12 col-md-7 pl-0 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Location:</label>
          {{#if @editable}}
            {{#let (if @oil.metadata.location @oil.metadata.location "") as |oilLocation|}}
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilLocation}}
                @placeholder="Enter Location"
                @change={{action "updateLocation"}}
              />
            {{/let}}
          {{else}}
            {{#let (if @oil.metadata.location @oil.metadata.location "None") as |oilLocationV|}}
              <span class="p-1">{{oilLocationV}}</span>
            {{/let}}
          {{/if}}
        </div>

      </div>

      <div class="row pl-0 mb-1">

        {{! Source Identifier (not editable) }}
        <div class="col-sm-12 col-md-5 pl-0 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Source ID:</label>
          <span class="p-1">{{@oil.metadata.source_id}}</span>
        </div>

        {{! Type }}
        <div class="col-sm-12 col-md-7 pl-0 form-inline align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Product Type:</label>
          {{#if @editable}}
            <select class="p-1 mt-1 overflow-hidden bg-transparent border"
                onchange={{action "updateType"}}
            >
              {{#if (includes @oil.metadata.product_type
                              @productTypes.firstObject.product_types)}}
              {{else}}
                <option class="bg-light" selected>{{@oil.metadata.product_type}}</option>
              {{/if}}

              {{#each @productTypes.firstObject.product_types as |oilType|}}
                {{#if (eq @oil.metadata.product_type oilType)}}
                  <option class="bg-light" selected>{{oilType}}</option>
                {{else}}
                  <option class="bg-light">{{oilType}}</option>
                {{/if}}
              {{/each}}
            </select>
          {{else}}
            <span class="p-1">{{@oil.metadata.product_type}}</span>
          {{/if}}
        </div>

        {{! API }}
        <div class="col-sm-12 col-md-5 pl-0 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">API:</label>
          {{#let (round-relative @oil.metadata.API 2) as |oilAPI|}}
            {{#if @editable}}
              <Input
                @id="api"
                @type="text"
                @class="p-1 overflow-hidden bg-transparent border"
                @placeholder="API value"
                @value={{oilAPI}}
                @change={{action "updateAPI"}}
                @size="6" />
            {{else}}
              {{#if (is-empty @oil.metadata.API)}}
                <span class="p-1">No Value</span>
              {{else}}
                <span class="p-1">{{@oil.metadata.API}}</span>
              {{/if}}
            {{/if}}
          {{/let}}
        </div>

      </div>

      <div class="row pl-0 mb-1">
        {{! Labels }}
        <div class="input-group-prepend">
          <label class="p-1 input-group-text font-weight-bold">Labels:</label>
        </div>

        {{#if @editable}}
          <PowerSelectMultiple @class="bg-warning border-0"
            @placeholder="Select some labels for the oil..."
            @selected={{this.selectedLabels}}
            @options={{this.filteredLabels}}
            @onChange={{action "updateLabels"}}
            @onKeydown={{this.handleKeydown}} as |name|>
            <span class="bg-transparent border-0">{{name}}</span>
          </PowerSelectMultiple>
        {{else}}
          {{#each @oil.metadata.labels as |label|}}
            <span class="list-item-category">
              {{label}}
            </span>
          {{else}}
            <span class="p-1">None</span>
          {{/each}}
        {{/if}}
      </div>

      <div class="row pl-0 mb-1">
        {{! Alternate Names }}
        {{#if @editable}}
          <div class="col-6 d-flex pl-0">
            <Common::ListTable
              @oil={{@oil}}
              @store={{@oil.store}}
              @editable={{@editable}}
              @submit={{this.updateAlternateNames}}
              @tableTitle=""
              @templateName="alternate-names"
              @propertyName="metadata.alternate_names"
            />
          </div>
        {{else}}
          <label class="p-1 input-group-text font-weight-bold">Alternate Names:</label>
          <div class="col pl-1">
            {{#each @oil.metadata.alternate_names as |id|}}
              <span class="list-item-alternate-names">
                {{id}}
              </span>
            {{else}}
              <span class="p-1 input-group-text">None</span>
            {{/each}}
          </div>
        {{/if}}
      </div>

    </div>

    <div class="col-6">

      {{! Reference }}
      <div class="row mb-1">
        <div class="col-12 input-group">        
          <label class="p-1 input-group-text font-weight-bold">Reference:</label>
          {{#let (if @oil.metadata.reference.reference
                  @oil.metadata.reference.reference
                  (if @editable "" "None")) as |oilReference|}}
            <Textarea
              @class="p-1 reference-textarea overflow-auto bg-transparent border"
              @value={{oilReference}}
              @placeholder="Enter reference"
              @change={{action "updateReference"}}
              rows="4"
              disabled={{not @editable}}
            />
          {{/let}}
        </div>
      </div>

      <div class="row">

        {{! Reference Date }}
        <div class="col-sm-12 col-md-5 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Reference Date:</label>
          {{! Europe/London is how we lookup GMT in moment.js }}
          {{#let (if @oil.metadata.reference.year
                  @oil.metadata.reference.year
                  (if @editable "" "None")) as |oilReferenceDate|}}
            {{#if @editable}}
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilReferenceDate}}
                @placeholder="Enter Date"
                @size="7"
                @change={{action "updateReferenceDate"}}
              />
            {{else}}
              <span class="p-1 flex-fill">{{oilReferenceDate}}</span>
            {{/if}}
          {{/let}}
        </div>

        {{! Sample Received Date }}
        <div class="col-sm-12 col-md-7 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Sample Received Date:</label>
          {{! Europe/London is how we lookup GMT in moment.js }}
          {{#let (if @oil.metadata.sample_date
                  @oil.metadata.sample_date
                  (if @editable "" "None")) as |oilSampleDate|}}
            {{#if @editable}}
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilSampleDate}}
                @placeholder="Enter Date"
                @size="12"
                @change={{action "updateSampleReceivedDate"}}
              />
            {{else}}
              <span class="p-1 ">{{oilSampleDate}}</span>
            {{/if}}
          {{/let}}
        </div>
      </div>

    </div>

  </div>

  {{! Comments }}
  {{#if (or @oil.metadata.comments @editable) }}
    <div class="row p-0 mb-3">
      <div class="col-12 p-0 input-group">
        <label class="pl-1 font-weight-bold">Comments:</label>
        &nbsp;
        {{#let (if @oil.metadata.comments
                @oil.metadata.comments
                (if @editable "" "None")) as |oilComments|}}
          <Textarea
            @class="p-1 flex-fill overflow-auto bg-transparent border"
            @value={{oilComments}}
            @rows="2"
            @placeholder="Enter comments"
            @change={{action "updateComments"}}
            disabled={{not @editable}}
          />
        {{/let}}
      </div>
    </div>
  {{/if}}


  {{!-- status message --}}
  <div class="row pl-0">
    <div class="col pl-0">
      {{#if @oil.status}}
        <span>{{@oil.status.length}} error{{#if (eq @oil.status.length 1) }}s{{/if}} found:</span>
        <ul>
          {{#each @oil.status as |stat|}}
            <li><i class="status-warning">{{stat}}</i></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

</div>
