<div class="container-fluid">

  <div class="row pl-0 pr-0">

    <div class="col-6">

      <div class="row pl-0 mb-3">

        {{! Oil ID }}
        <div class="col-sm-12 col-md-6 pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">ID:</label>
          </div>
          <span class="p-1">{{this.args.oil.id}}</span>
        </div>

        {{! Location }}
        <div class="col-sm-12 col-md-6 pl-0 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Location:</label>
          {{#if this.args.editable}}
            {{#let (if this.args.oil.metadata.location this.args.oil.metadata.location "") as |oilLocation|}}
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilLocation}}
                @placeholder="Enter Location"
                @change={{action "updateLocation"}}
              />
            {{/let}}
          {{else}}
            {{#let (if this.args.oil.metadata.location this.args.oil.metadata.location "None") as |oilLocationV|}}
              <span class="p-1">{{oilLocationV}}</span>
            {{/let}}
          {{/if}}
        </div>

      </div>

      <div class="row pl-0 mb-3">

        {{! API }}
        <div class="col-sm-12 col-md-6 pl-0 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">API:</label>
          {{#let (round-relative this.args.oil.metadata.API 2) as |oilAPI|}}
            {{#if this.args.editable}}
              <Input
                @id="api"
                @type="text"
                @class="p-1 overflow-hidden bg-transparent border"
                @placeholder="API value"
                @value={{oilAPI}}
                @change={{action "updateAPI"}}
                @size="6" />
            {{else}}
              {{#if (is-empty this.args.oil.metadata.API)}}
                <span class="p-1">No Value</span>
              {{else}}
                <span class="p-1">{{this.args.oil.metadata.API}}</span>
              {{/if}}
            {{/if}}
          {{/let}}
        </div>

        {{! Type }}
        <div class="col-sm-12 col-md-6 pl-0 form-inline align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Type:</label>
          {{#if this.args.editable}}
            <select class="p-1 mt-1 overflow-hidden bg-transparent border" onchange={{action "updateType"}}>
              {{#if (contains this.args.oil.metadata.product_type (map-by "name" this.oilTypes))}}
              {{else}}
                <option class="bg-light" selected>{{this.args.oil.metadata.product_type}}</option>
              {{/if}}

              {{#each this.oilTypes as |oilType|}}
                {{#if (eq this.args.oil.metadata.product_type oilType.name)}}
                  <option class="bg-light" selected>{{oilType.name}}</option>
                {{else}}
                  <option class="bg-light">{{oilType.name}}</option>
                {{/if}}
              {{/each}}
            </select>
          {{else}}
            <span class="p-1">{{this.args.oil.metadata.product_type}}</span>
          {{/if}}
        </div>

      </div>

      <div class="row pl-0 mb-3">
        {{! Labels }}
        <div class="col-1 pl-0 form-inline d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Labels:</label>
          </div>

        </div>
        <div class="col-7">
          {{#if this.args.editable}}
            <PowerSelectMultiple @class="bg-warning border-0"
              @placeholder="Select some categories..."
              @selected={{this.selectedLabels}}
              @options={{map-by "name" this.oilLabels}}
              @onChange={{action "updateLabels"}}
              @onKeydown={{this.handleKeydown}} as |name|>
              <span class="bg-transparent border-0">{{name}}</span>
            </PowerSelectMultiple>
          {{else}}
            {{#each this.args.oil.metadata.labels as |label|}}
              <span class="list-item-category">
                {{label}}
              </span>
            {{else}}
              <span>None</span>
            {{/each}}
          {{/if}}

        </div>
      </div>

    </div>

    <div class="col-6">

      {{! Reference }}
      <div class="row mb-1">
        <div class="col-12 input-group">        
          <label class="p-1 input-group-text font-weight-bold">Reference:</label>
          {{#let (if this.args.oil.metadata.reference.reference
                  this.args.oil.metadata.reference.reference
                  (if this.args.editable "" "None")) as |oilReference|}}
            <Textarea
              @class="p-1 reference-textarea overflow-hidden bg-transparent border"
              @value={{oilReference}}
              @placeholder="Enter reference"
              @change={{action "updateReference"}}
              rows="4"
              disabled={{not this.args.editable}}
            />
          {{/let}}
        </div>
      </div>

      <div class="row">

        {{! Reference Date }}
        <div class="col-sm-12 col-md-5 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Reference Date:</label>
          {{! Europe/London is how we lookup GMT in moment.js }}
          {{#let (if this.args.oil.metadata.reference.year
                  this.args.oil.metadata.reference.year
                  (if this.args.editable "" "None")) as |oilReferenceDate|}}
            {{#if this.args.editable}}
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilReferenceDate}}
                @placeholder="Enter Date"
                @size="7"
                @change={{action "updateReferenceDate"}}
              />
            {{else}}
              <span class="p-1 flex-fill">{{oilReferenceDate}}</span>
            {{/if}}
          {{/let}}
        </div>

        {{! Sample Received Date }}
        <div class="col-sm-12 col-md-7 input-group align-items-center">
          <label class="p-1 input-group-text font-weight-bold">Sample Received Date:</label>
          {{! Europe/London is how we lookup GMT in moment.js }}
          {{#let (if this.args.oil.metadata.sample_date
                  this.args.oil.metadata.sample_date
                  (if this.args.editable "" "None")) as |oilSampleDate|}}
            {{#if this.args.editable}}
              <Input
                @class="p-1 overflow-hidden bg-transparent border"
                @value={{oilSampleDate}}
                @placeholder="Enter Date"
                @size="12"
                @change={{action "updateSampleReceivedDate"}}
              />
            {{else}}
              <span class="p-1 ">{{oilSampleDate}}</span>
            {{/if}}
          {{/let}}
        </div>
      </div>

    </div>

  </div>

  {{! Comments }}
  <div class="row p-0 mb-3">
    <div class="col-12 p-0">
      <label class="pl-1 font-weight-bold">Comments:</label>
    </div>
    <div class="col-12 p-0 input-group">
      {{#let (if this.args.oil.metadata.comments
              this.args.oil.metadata.comments
              (if this.args.editable "" "None")) as |oilComments|}}
        <Textarea
          @class="p-1 flex-fill bg-transparent border"
          @value={{oilComments}}
          @rows="3"
          @placeholder="Enter comments"
          @change={{action "updateComments"}}
          disabled={{not this.args.editable}}
        />
      {{/let}}
    </div>
  </div>

  {{!-- status message --}}
  <div class="row pl-0">
    <div class="col pl-0">
      {{#if this.args.oil.status}}
        <span>{{this.args.oil.status.length}} error{{#if (eq this.args.oil.status.length 1) }}s{{/if}} found:</span>
        <ul>
          {{#each this.args.oil.status as |stat|}}
            <li><i class="status-warning">{{stat}}</i></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

</div>
