<div class="container">

  <div class="row pl-0 pr-0">

    <div class="col-5">

      <div class="row pl-0 mb-3">

        {{! Oil ID }}
        <div class="col-4 pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">ID:</label>
          </div>
          <span class="p-1">{{oil.id}}</span>
        </div>

        {{! Location }}
        <div class="col pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Location:</label>
          </div>
          {{#let (if oil.location oil.location "None") as |oilLocation|}}
            {{#if editable}}
              <Input @class="p-1 flex-fill bg-transparent border" @value={{oilLocation}}
                @placeholder="Enter Location" @change={{action "updateLocation"}} />
            {{else}}
              <span class="p-1 flex-fill">{{oilLocation}}</span>
            {{/if}}
          {{/let}}
        </div>

      </div>

      <div class="row pl-0 mb-3">

        {{! API }}
        <div class="col-4 pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">API:</label>
          </div>
          {{#let (if (not (is-empty oil.samples.[0].apis))
            (round-relative oil.samples.[0].apis.[0].gravity 2) "No Values") as |oilAPI|}}
            {{#if editable}}
              <Input @id="api" @type="text" @class="p-1 bg-transparent border"
                @placeholder="API value" @value={{oilAPI}} @change={{action "updateAPI"}} @size="6" />
            {{else}}
              <span class="p-1">{{oilAPI}}</span>
            {{/if}}
          {{/let}}
        </div>

        {{! Type }}
        <div class="col pl-0 form-inline d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Type:</label>
          </div>
          {{#if editable}}
            <select class="p-1 flex-fill bg-transparent border" onchange={{action "updateType"}}>
              {{#each this.oilTypes as |oilType|}}
                {{#if (eq oil.productType oilType)}}
                  <option class="bg-light" selected>{{oilType}}</option>
                {{else}}
                  <option class="bg-light">{{oilType}}</option>
                {{/if}}
              {{/each}}
            </select>
          {{else}}
            <span class="p-1 flex-fill">{{oil.productType}}</span>
          {{/if}}
        </div>

      </div>

      <div class="row pl-0 mb-3">

        {{! Categories }}
        <div class="form-inline">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Labels:</label>
          </div>

          {{#if editable}}
            <PowerSelectMultiple @class="bg-warning border-0"
              @placeholder="Select some categories..."
              @selected={{this.selectedCategories}}
              @options={{this.oilCategories}}
              @onChange={{action "updateCategories"}}
              @onKeydown={{this.handleKeydown}} as |name|>
              <span class="bg-transparent border-0">{{name}}</span>
            </PowerSelectMultiple>
          {{else}}
            {{#each oil.categories as |category|}}
              <span class="list-item-category">
                {{category}}
              </span>
            {{else}}
              <span>None</span>
            {{/each}}
          {{/if}}

        </div>

      </div>

    </div>

    <div class="col-7 pr-0 mb-3">

      {{! Reference }}
      <div class="row mb-3 input-group">
        <label class="p-1 input-group-text font-weight-bold">Reference:</label>
      </div>
      <div class="row mb-3 input-group">
        <div class="col-12 reference-height">
        {{#let (if oil.reference oil.reference "None") as |oilReference|}}
          {{#if editable}}
            <Textarea @class="p-1 reference-textarea bg-transparent border" @value={{oilReference}} @rows="3"
              @placeholder="Enter reference"  @change={{action "updateReference"}} />
          {{else}}
              <span class="p-1 reference-span">{{oilReference}}</span>
          {{/if}}
        {{/let}}
        </div>
      </div>

      <div class="row">

        {{! Reference Date }}
        <div class="col-5 pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Reference Date:</label>
          </div>
          {{! Europe/London is how we lookup GMT in moment.js }}
          {{#let (if oil.referenceDate (moment-format (unix oil.referenceDate) "YYYY-MM-DD" timeZone="Europe/London") "None")
            as |oilReferenceDate|}}
            {{#if editable}}
              <Input @class="p-1 flex-fill bg-transparent border"  @size="7" @value={{oilReferenceDate}}
                @placeholder="Enter Date"  @change={{action "updateReferenceDate"}} />
            {{else}}
              <span class="p-1 flex-fill">{{oilReferenceDate}}</span>
            {{/if}}
          {{/let}}
        </div>

        {{! Sample Received Date }}
        <div class="col pl-0 input-group d-flex align-items-center">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Sample Received Date:</label>
          </div>
          {{! Europe/London is how we lookup GMT in moment.js }}
          {{#let (if oil.sampleDate (moment-format (unix oil.sampleDate) "YYYY-MM-DD" timeZone="Europe/London") "None")
            as |oilSampleDate|}}
            {{#if editable}}
              <Input @class="p-1 flex-fill bg-transparent border"  @size="7" @value={{oilSampleDate}}
                @placeholder="Enter Date"  @change={{action "updateSampleReceivedDate"}} />
            {{else}}
              <span class="p-1 flex-fill">{{oilSampleDate}}</span>
            {{/if}}
          {{/let}}
        </div>
      </div>

    </div>

  </div>

  {{! Comments }}
  <div class="row pl-0 pr-0 mb-3">
    <div class="col-12 pl-0 pr-0">
      <label class="p-1 font-weight-bold">Comments:</label>
    </div>
    <div style="height:34px;" class="col-12 pl-0 pr-0 input-group">
      {{#let (if oil.comments oil.comments "None") as |oilComments|}}
        {{#if editable}}
          <Textarea @class="p-1 flex-fill bg-transparent border" @value={{oilComments}} @rows="1"
            @placeholder="Enter comments"  @change={{action "updateComments"}} />
        {{else}}
          <span class="p-1 flex-fill bg-transparent no-borders">{{oilComments}}</span>
        {{/if}}
      {{/let}}
    </div>
  </div>

  {{!-- status message --}}
  <div class="row mb-3">
    <div class="col">
      {{#if oil.status}}
        <ul>
          {{#each oil.status as |stat|}}
            <li><i class="status-warning">{{stat}}</i></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

</div>
