<div class="detail-section">
  <div class="table-responsive d-flex">
    <strong>Pour Point:</strong>
    <Table::Cell::ValueUnitField
      @editable={{this.editable}}
      @value={{this.oil.pour_point.ref_temp}}
      @units="C"
      @precision={{2}}
      @hasValue={{this.oil.pour_point}}
    />
    {{!-- {{#if oil.pour_point}}
      {{value-unit (convert-unit oil.pour_point.ref_temp "C") 2}}
    {{else}}
      No Data
    {{/if}} --}}

  </div>

  &nbsp;

</div>
