<div class="detail-section">
  <div class="d-flex align-items-center">
    <label class="p-1 input-group-text font-weight-bold">Pour Point:</label>
    {{#if this.editable}}

      {{#if this.pour_point}}
        <Input 
          @class="p-1 bg-transparent border"
          @type="text"
          @value={{value-unit (convert-unit this.pour_point.ref_temp "C") 2}}
          @focus-in={{action "openModalDialog"}}
          id="pour_point0"
        />
      {{else}}
        <Input id="pour-point-id"
          @class="p-1 bg-transparent border"
          @type="text"
          @value="No Data"
          @focus-in={{action "openModalDialog"}}
        />
      {{/if}} {{!-- if pour_point --}}

      {{#if this.isShowingModal}}
        <Common::RangeValueDialog
          @valueObject={{this.pour_point.ref_temp}}
          @valueTitle="Pour Point"
          @valueUnit="C"
          @valuePrecision="2"
          @componentId={{concat "#" this.componentId}}
          @isShowingModal={{mut this.isShowingModal}}
        />
      {{/if}}  {{!-- isShowingModal --}}

    {{else}}
      {{#if this.pour_point}}
        <span>
          {{value-unit (convert-unit this.args.oil.pour_point.ref_temp "C") 2}}
        </span>
      {{else}}
        No Data
      {{/if}}
    {{/if}}  {{!-- editable --}}
  </div>


  &nbsp;

</div>
