<div class="detail-section">
  <div class="d-flex align-items-center">
    <label class="p-1 input-group-text font-weight-bold">Pour Point:</label>
    {{#if oil.pour_point}}
      {{#if editable}}
        <Input id="pour-point-id" @class="p-1 bg-transparent border" @type="text"
          @value={{value-unit (convert-unit oil.pour_point.ref_temp "C") 2}}
          @focus-in={{action "openModalDialog"}}
          @size="7"
        />

        {{#if isShowingModal}}

          {{!-- {{#ember-tether
              target="#pour-point-id"
              targetAttachment="center left"
            attachment="center left"
          }}
            <div id="scalar-range-dialog" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  ...
                </div>
              </div>
            </div>
          {{/ember-tether}} --}}

          {{#modal-dialog
            onClose=(action "onCancel")
            translucentOverlay=false
            targetAttachment="center left"
            tetherTarget="#pour-point-id"
            attachment="center left"
          }}
            <div id="scalar-range-dialog" class="card">
              <h5 class="card-header text-center p-1">Pour Point (deg C)</h5>
              <div class="card-body p-1">
                <div class="row form-check d-flex align-items-center">
                  <Input
                    @type="radio" @name="interval-number"
                    @value="interval"
                    @focus-in={{action "toggleRadio"}}
                    @size="1"
                    checked={{this.isInterval}}
                  />
                  {{#let (if this.isInterval undefined "disabled") as |intervalInputDisabled|}}
                    <fieldset id="dialog-interval-input" disabled={{intervalInputDisabled}}>
                      <label class="col-2 p-1">Min</label>
                      <input class="col-3" type="text" name="min-value" size="3" placeholder="-&infin;">
                      <label class="col-2 p-1">Max</label>
                      <input class="col-3" type="text" name="max-value" size="3" placeholder="+&infin;">
                    </fieldset>
                  {{/let}}
                </div>

                <div class="row form-check d-flex align-items-center">
                  <Input
                    @type="radio" @name="interval-number"
                    @value="number"
                    @focus-in={{action "toggleRadio"}}
                    @size="1"
                    checked={{not this.isInterval}}
                  />
                  {{#let (if this.isInterval "disabled" undefined) as |scalarInputDisabled|}}
                    <fieldset id="dialog-scalar-input" disabled={{scalarInputDisabled}}>
                      <label class="p-1 pr-0">Value:</label><input type="text" name="scalar" size="3">
                    </fieldset>
                  {{/let}}
                </div>

                <div class="row d-flex justify-content-end">
                  <button type="button" class="btn btn-secondary btn-sm mr-4"
                    {{action "closeModalDialog"}}>
                    Cancel
                  </button>
                  <button type="button" class="btn btn-primary btn-sm mr-4"
                    onClick={{action "onSave"}}>
                    Save
                  </button>
                </div>

              </div>
            </div>  
          {{/modal-dialog}}        

        {{/if}}
      {{else}}
        <span id="pour-point-id">
          {{value-unit (convert-unit oil.pour_point.ref_temp "C") 2}}
        </span>
      {{/if}}    
    {{else}}
      No Data
    {{/if}}
  </div>


  &nbsp;

</div>
