<div class="container">
  <div class="row">
    <div class="col-sm-4 col-lg-2">
      {{! First column }}

      {{! Oil ID }}
      <span class="mb-3 input-group">
        <div class="input-group-prepend">
          <label class="p-1 input-group-text font-weight-bold">ID:</label>
        </div>
        <input type="text" class="text-center bg-transparent" size="8" value={{oil.id}} readonly>
      </span>

      {{! Type }}
      <span class="mb-3 input-group">
        <div class="input-group-prepend">
          <label class="p-1 input-group-text font-weight-bold">Type:</label>
        </div>
        {{#if oil.productType}}
          <input type="text" class="text-center bg-light" size="6" value={{oil.productType}}>
        {{else}}
          <input type="text" class="text-center bg-light" size="6" value="None">
        {{/if}}          
      </span>

      {{! Status }}
      {{#unless oil.status}}
        <span class="mb-3 input-group">
          <div class="input-group-prepend">
            <label class="p-1 input-group-text font-weight-bold">Status:</label>
          </div>
          <input type="text" class="status-good text-center bg-transparent font-italic" size="4" value="OK" >
        </span>
      {{/unless}}

    </div>

    <div class="col-sm-8 col-md-8 col-lg-5 col-xl-4">
      {{! Second column }}

      {{! API }}
      <div class="mb-3 input-group">
        <div class="input-group-prepend">
          <label class="p-1 input-group-text font-weight-bold">API:</label>
        </div>
        {{#if (not (is-empty oil.apis))}}
          <input type="text" size = "10" class="text-center bg-light" 
            placeholder="API value" value={{round-relative oil.apis.[0].gravity 2}}>
        {{else}}
          <input type="text" size = "12" class="text-center bg-light"
            placeholder="API value" value="No Values">
        {{/if}}
      </div>

      {{! Categories }}
      <div class="mb-3 card w-50">
        <div class="p-0 card-header">
          <span class="p-1 input-group-text font-weight-bold">Categories:</span>
        </div>
        <ul class="list-group list-group-flush">
          {{#each oil.categories as |category|}}
            <li class="p-0 pl-1 list-group-item">{{category}}</li>
          {{else}}
            <li class="p-0 pl-1 list-group-item">None</li>
          {{/each}}      
        </ul>
      </div>
    </div>

    <div class="col">
      {{! Third column }}

      <strong>Location:</strong>
      {{#if oil.location}}
        {{oil.location}}
      {{else}}
        None
      {{/if}}
      <br>

      <strong>Reference:</strong>
      {{#if oil.reference}}
        {{oil.reference}}
      {{else}}
        None
      {{/if}}
      <br>

      <strong>Reference Date:</strong>
      {{#if oil.referenceDate}}
        {{! Europe/London is how we lookup GMT in moment.js }}
        {{moment-format (unix oil.referenceDate) "YYYY-MM-DD" timeZone="Europe/London"}}
      {{else}}
        None
      {{/if}}
      <br>

      <strong>Sample Received Date:</strong>
      {{#if oil.sampleDate}}
        {{! Europe/London is how we lookup GMT in moment.js }}
        {{moment-format (unix oil.sampleDate) "YYYY-MM-DD" timeZone="Europe/London"}}
      {{else}}
        None
      {{/if}}
      <br>

      <strong>Comments:</strong>
      {{#if oil.comments}}
        {{oil.comments}}
      {{else}}
        None
      {{/if}}
      <br>
    </div>  

  </div>

  <div class="row">
    <div class="col">
      {{#if oil.status}}
        <ul>
          {{#each oil.status as |stat|}}
            <li><i class="status-bad">{{stat}}</i></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

</div>
