<center>Other Priority PAHs</center>

<table class="table table-hover table-bordered">
  <thead></thead>
  <tbody id="otherpah-tbody">
    {{#if anyDataPresent}}
      <tr>
        <td>Biphenyl</td>
        <td>{{value-unit oil.alkylated_pahs.biphenyl 2}}</td>
      </tr>
      <tr>
        <td>Acenaphthylene</td>
        <td>{{value-unit oil.alkylated_pahs.acenaphthylene 2}}</td>
      </tr>
      <tr>
        <td>Acenaphthene</td>
        <td>{{value-unit oil.alkylated_pahs.acenaphthene 2}}</td>
      </tr>
      <tr>
        <td>Anthracene</td>
        <td>{{value-unit oil.alkylated_pahs.anthracene 2}}</td>
      </tr>
      <tr>
        <td>Fluoranthene</td>
        <td>{{value-unit oil.alkylated_pahs.fluoranthene 2}}</td>
      </tr>
      <tr>
        <td>Pyrene</td>
        <td>{{value-unit oil.alkylated_pahs.pyrene 2}}</td>
      </tr>
      <tr>
        <td>Perylene</td>
        <td>{{value-unit oil.alkylated_pahs.perylene 2}}</td>
      </tr>
      <tr>
        <td>Benz(a)anthracene</td>
        <td>{{value-unit oil.alkylated_pahs.benz_a_anthracene 2}}</td>
      </tr>
      <tr>
        <td>Benzo(b)fluoranthene</td>
        <td>{{value-unit oil.alkylated_pahs.benzo_b_fluoranthene 2}}</td>
      </tr>
      <tr>
        <td>Benzo(k)fluoranthene</td>
        <td>{{value-unit oil.alkylated_pahs.benzo_k_fluoranthene 2}}</td>
      </tr>
      <tr>
        <td>Benzo(e)pyrene</td>
        <td>{{value-unit oil.alkylated_pahs.benzo_e_pyrene 2}}</td>
      </tr>
      <tr>
        <td>Benzo(a)pyrene</td>
        <td>{{value-unit oil.alkylated_pahs.benzo_a_pyrene 2}}</td>
      </tr>
      <tr>
        <td>Benzo(ghi)perylene</td>
        <td>{{value-unit oil.alkylated_pahs.benzo_ghi_perylene 2}}</td>
      </tr>
      <tr>
        <td>Dibenzo(ah)anthracene</td>
        <td>{{value-unit oil.alkylated_pahs.dibenzo_ah_anthracene 2}}</td>
      </tr>
      <tr>
        <td>Indeno(1,2,3-cd)pyrene</td>
        <td>{{value-unit oil.alkylated_pahs.indeno_1_2_3_cd_pyrene 2}}</td>
      </tr>
    {{else}}
      <tr>
        <td>No Data</td>
      </tr>
    {{/if}}
  </tbody>
</table>
