<div class="detail-section">
  <div class="table-responsive">
    <div class="text-center">
      {{#if this.boldTitle}}
        <strong>{{@tableTitle}}</strong>
      {{else}}
        {{@tableTitle}}
      {{/if}}
    </div>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          {{#each-in this.properties as |attr value|}}
            <th scope="col">{{value.label}}</th>
          {{/each-in}}


          {{#if @editable}}
            <td class="border-0">
              <button type="button"
                {{on "click" (fn this.addEmptyTableRow 0)}}
                class="btn btn-outline-dark btn-sm p-0 border-0">
                {{fa-icon "plus"}}
              </button>
            </td>
          {{/if}}

        </tr>
      </thead>

      <tbody>
        {{#if (or @editable anyDataPresent)}}
          {{#each this.baseProperty as |row index|}}
            <tr>
              {{#each-in this.properties as |attr value|}}
                <td>
                  {{#if (eq value.dataType "value-unit")}}
                    <Common::ValueUnitInput
                      @valueObject={{get (set-attr-if-none row attr (hash)) attr}}
                      @editable={{@editable}}
                      @submit={{fn this.updateListValue index attr}}
                      @valueUnit={{value.unit}}
                      @valueUnitType={{value.unit_type}}
                      @valuePrecision={{value.precision}}
                    />
                  {{else if (eq value.dataType "range-value-unit")}}
                    {{#if @editable}}
                      <Common::RangeValueInput
                        @valueTitle={{value.label}}
                        @valueObject={{set-attr-if-none row attr (hash)}}
                        @valueName={{attr}}
                        @valueUnit={{value.unit}}
                        @valueUnitType={{value.unit_type}}
                        @valuePrecision="2"
                        @sampleIndex={{@sampleIndex}}
                        @submit={{@submit}}
                      />
                    {{else}}
                      {{value-unit (get row attr) 2}}
                    {{/if}}
                  {{else if (eq value.dataType "string")}}
                    {{#if @editable}}
                      <Input class="p-1 overflow-hidden bg-transparent border"
                        @value={{get row attr}}
                        placeholder="Enter Value" size={{if value.size value.size "10"}} {{on "change" (fn this.updateListString index attr)}}
                      />
                    {{else}}
                      <span class="p-1">{{get row attr}}</span>
                    {{/if}}
                  {{else if (eq value.dataType "number")}}
                    {{#if @editable}}
                      <Input class="p-1 overflow-hidden bg-transparent border"
                        @value={{get row attr}}
                        placeholder="Enter Value" size={{if value.size value.size "10"}} {{on "change" (fn this.updateListString index attr)}}
                      />
                    {{else}}
                      <span class="p-1">{{get row attr}}</span>
                    {{/if}}

                  {{/if}}
                </td>
              {{/each-in}}

              {{#if @editable}}
                <td class="border-0">
                  <button type="button"
                    {{on "click" (fn this.deleteTableRow index)}}
                    class="btn btn-outline-danger btn-sm p-0 border-0">
                    {{fa-icon "times"}}
                  </button>

                  <button type="button"
                    {{on "click" (fn this.addEmptyTableRow (add index 1))}}
                    class="btn btn-outline-dark btn-sm p-0 border-0">
                    {{fa-icon "plus"}}
                  </button>
                </td>
              {{/if}}

            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td>No Data</td>
          </tr>
        {{/if}}


      </tbody>
    </table>

  </div>

</div>
