<div class="text-center"><strong>{{@group}}</strong></div>


<table class="table table-hover table-bordered">
  <thead aria-controls="ift-tbody" aria-expanded="false">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Measurement</th>

      <th scope="col" title="Standard Deviation">Std. Dev.</th>

      <th scope="col">Replicates</th>
      <th scope="col">Method</th>

      {{#if @editable}}
        <td class="border-0">
          <button type="button"
            {{on "click" (fn this.addEmptyTableRow 0)}}
            class="btn btn-outline-dark btn-sm p-0 border-0">
            {{fa-icon "plus"}}
          </button>
        </td>
      {{/if}}

    </tr>
  </thead>

  <tbody>
    {{#each @items as |item index|}}
      <tr>
        <td>
          {{#if @editable}}
            <Input @class="p-1 overflow-hidden bg-transparent border"
              @value={{item.value.name}}
              @placeholder="Enter Value"
              @change={{fn this.updateValue item}}
              size={{24}}
            />
          {{else}}
            {{item.value.name}}
          {{/if}}
        </td>

        <td>
          <Common::ValueUnitInput
            @valueObject={{item.value.measurement}}
            @editable={{@editable}}
            @submit={{this.updateValue}}
            @valueUnit={{item.value.measurement.unit}}
            @valueUnitType={{item.value.measurement.unit_type}}
            @valuePrecision={{2}}
            @editUnit={{true}}
            @defaultUnit="1"
          />

        </td>

        <td>
          {{#if @editable}}
            <Input @class="p-1 overflow-hidden bg-transparent border"
              @value={{item.value.measurement.standard_deviation}}
              @placeholder="Enter Value"
              @change={{fn this.updateValue item}}
              size={{10}}
            />
          {{else}}
            {{item.value.measurement.standard_deviation}}
          {{/if}}
        </td>

        <td>
          {{#if @editable}}
            <Input @class="p-1 overflow-hidden bg-transparent border"
              @value={{item.value.measurement.replicates}}
              @placeholder="Enter Value"
              @change={{fn this.updateValue item}}
              size={{10}}
            />
          {{else}}
            {{item.value.measurement.replicates}}
          {{/if}}
        </td>

        <td>
          {{#if @editable}}
            <Input @class="p-1 overflow-hidden bg-transparent border"
              @value={{item.value.method}}
              @placeholder="Enter Value"
              @change={{fn this.updateValue item}}
              size={{10}}
            />
          {{else}}
            {{item.value.method}}
          {{/if}}
        </td>

        {{#if @editable}}
          <td class="border-0">
            <button type="button"
              {{on "click" (fn this.deleteTableRow index)}}
              class="btn btn-outline-danger btn-sm p-0 border-0">
              {{fa-icon "times"}}
            </button>
          </td>

          <td class="border-0">
            <button type="button"
              {{on "click" (fn this.addEmptyTableRow (add index 1))}}
              class="btn btn-outline-dark btn-sm p-0 border-0">
              {{fa-icon "plus"}}
            </button>
          </td>
        {{else}}
          <td hidden></td>
        {{/if}}

      </tr>
    {{/each}}
  </tbody>
</table>
