<center><strong>{{this.args.group}}</strong></center>


<table class="table table-hover table-bordered">
  <thead aria-controls="ift-tbody" aria-expanded="false">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Measurement</th>
      <th scope="col">Method</th>

      {{#if this.args.editable}}
        <td class="border-0">
          <button type="button"
            {{on "click" (fn this.addEmptyTableRow 0)}}
            class="btn btn-outline-dark btn-sm p-0 border-0">
            {{fa-icon "plus"}}
          </button>
        </td>
      {{/if}}

    </tr>
  </thead>

  <tbody>
    {{#each this.args.items as |item index|}}
      <tr>
        <td>{{item.value.name}}</td>
        <td>{{value-unit item.value.measurement 2}}</td>
        <td>{{item.value.method}}</td>

        {{#if this.args.editable}}
          <td class="border-0">
            <button type="button"
              {{on "click" (fn this.deleteTableRow index)}}
              class="btn btn-outline-danger btn-sm p-0 border-0">
              {{fa-icon "times"}}
            </button>
          </td>

          <td class="border-0">
            <button type="button"
              {{on "click" (fn this.addEmptyTableRow (add index 1))}}
              class="btn btn-outline-dark btn-sm p-0 border-0">
              {{fa-icon "plus"}}
            </button>
          </td>
        {{else}}
          <td hidden></td>
        {{/if}}

      </tr>
    {{/each}}
  </tbody>
</table>
