<div class="detail-section">
  <div class="table-responsive pr-1">

    {{#each-in this.tableGroups as |group items|}}
      <Common::GroupedTable
        @oil={{@oil}}
        @store={{@store}}
        @editable={{@editable}}
        @submit={{@submit}}
        @baseProperty={{this.baseProperty}}
        @group={{group}}
        @items={{items}}
      />
    {{else}}
      <Common::GroupedTable
        @oil={{@oil}}
        @store={{@store}}
        @editable={{@editable}}
        @submit={{@submit}}
        @baseProperty={{this.baseProperty}}
        @group="Ungrouped"
        @items={{ null }}
      />
    {{/each-in}}

  </div>
</div>
