<div class="detail-section">
  <div class="table-responsive pr-1">

    {{#each-in this.tableGroups as |group items|}}
      <Common::GroupedTable
        @oil={{this.args.oil}}
        @store={{this.args.store}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @baseProperty={{this.baseProperty}}
        @group={{group}}
        @items={{items}}
      />
    {{/each-in}}

  </div>
</div>
