{{!
  arguments:
    valueObject -- object like: {|value: $number| or |max_value: $number, min_value: $number|, unit: $string}
    valueTitle - dialog title
    valueUnit - dialog title unit
    valuePrecision - value conversion precision
    componentId - unique element ID to tether dialog to
    updateValue - update function
}}

{{!-- based on ember-modal-dialog with ember-tether --}}
<ModalDialog
  @onClose={{action "closeModalDialog"}}
  @translucentOverlay={{false}}
  @tetherTarget={{componentId}}
  @targetAttachment={{@targetAttachment}}
  @attachment={{@attachment}}
>
  <div id="scalar-range-dialog" class="card">
    {{!-- dialog header --}}
    <h5 class="card-header text-center p-1">
      {{@valueTitle}} ({{this.beaUnit}})
    </h5>

    {{!-- dialog body --}}
    <div class="card-body p-1">
      {{!-- range input --}}
      <div class="row d-flex align-items-center mx-2">
        <Input
          @type="radio"
          @name="interval-number"
          @value="true"
          @focus-in={{action "toggleRadio" true}}
          id="range-radio-btn"
          checked={{this.isInterval}}
        />
        <label for="range-radio-btn" class="m-2 pb-1">
          Range
        </label>
        <Input
          @type="number"
          @step={{this.numberStep}}
          @name="min-value"
          @size="5"
          placeholder="-∞"
          value={{this.dialogMinValue}}
          @focus-in={{action "toggleRadio" true}}
          {{on "change" this.changeMin}}
          class="m-2" 
        />
        <Input
          @type="number"
          @step={{this.numberStep}}
          @name="max-value"
          @size="5"
          placeholder="+∞"
          value={{this.dialogMaxValue}}
          @focus-in={{action "toggleRadio" true}}
          {{on "change" this.changeMax}}
          class="m-2"
        />
      </div>
      {{!-- scalar input --}}
      <div class="row d-flex align-items-center mx-2">
        <Input
          @type="radio"
          @name="interval-number"
          @value="number"
          @focus-in={{action "toggleRadio" false}}
          id="value-radio-btn"
          checked={{not this.isInterval}}
        />
        <label for="value-radio-btn" class="m-2 pb-1 pr-3">
          Value
        </label>
        <Input
          @type="number"
          @step={{this.numberStep}}
          @name="scalar"
          @size="5"
          placeholder=""
          value={{this.dialogValue}}
          @focus-in={{action "toggleRadio" false}}
          {{on "change" this.changeValue}}
        />
      </div>

      {{!-- dialog Cancel and Save buttons --}}
      <div class="row d-flex justify-content-end mx-2">
        <button type="button" class="btn btn-secondary btn-sm mr-2"
                onClick={{action "closeModalDialog"}}
         >
          Cancel
        </button>
        <button type="button" class="btn btn-primary btn-sm"
                onClick={{action "onSave"}}
         >
          Save
        </button>
      </div>

    </div>
  </div>
</ModalDialog>
