{{!
  arguments:
    valueObject -- object like: {|value: $number| or |max_value: $number, min_value: $number|, unit: $string}
    valueTitle - dialog title
    valueUnit - dialog title unit
    valuePrecision - value conversion precision
    componentId - unique element ID to tether dialog to
    updateValue - update function
}}

{{!-- based on ember-modal-dialog with ember-tether --}}
<ModalDialog
  @onClose={{this.closeModalDialog}}
  @translucentOverlay={{false}}
  @tetherTarget={{@componentId}}
  @targetAttachment={{@targetAttachment}}
  @attachment={{@attachment}}
>
  <div id="scalar-range-dialog" class="card">
    {{!-- dialog header --}}
    <h5 class="card-header text-center p-1">
      {{@valueTitle}} ({{this.beaUnit}})
    </h5>

    {{!-- dialog body --}}
    <div class="card-body p-1">
      {{!-- range input --}}
      <div class="row d-flex align-items-center mx-2">
        <div class="col-1 p-0">
          <Input
            @type="radio"
            name="interval-number"
            @value="true" id="range-radio-btn"
            checked={{this.isInterval}} {{on "focusin" (action "toggleRadio" true)}}
          />
        </div>

        <div class="col-2 p-0">
          <label for="range-radio-btn" class="m-2 pb-1">Range</label>
        </div>

        <div class="col-4 p-1">
          <Input
            @type="number"
            step={{this.numberStep}}
            name="min-value"
            size="5"
            placeholder="-∞"
            @value={{this.dialogMinValue}} {{on "change" this.changeMin}}
            class="m-0 range-input-text-field"
            {{on "focusin" (action "toggleRadio" true)}} 
          />
        </div>

        <div class="col-4 p-1">
          <Input
            @type="number"
            step={{this.numberStep}}
            name="max-value"
            size="5"
            placeholder="+∞"
            @value={{this.dialogMaxValue}} {{on "change" this.changeMax}}
            class="m-0 range-input-text-field"
            {{on "focusin" (action "toggleRadio" true)}}
          />
        </div>
      </div>
      {{!-- scalar input --}}
      <div class="row d-flex align-items-center mx-2">

        <div class="col-1 p-0">
          <Input
            @type="radio"
            name="interval-number"
            @value="number" id="value-radio-btn"
            checked={{not this.isInterval}} {{on "focusin" (action "toggleRadio" false)}}
          />
        </div>

        <div class="col-2 p-0">
          <label for="value-radio-btn" class="m-2 pb-1 pr-3">Value</label>
        </div>

        <div class="col-4 p-1">
          <Input
            @type="number"
            step={{this.numberStep}}
            name="scalar"
            size="5"
            placeholder=""
            class="m-0 range-input-text-field"
            @value={{this.dialogValue}} {{on "change" this.changeValue}} {{on "focusin" (action "toggleRadio" false)}}
          />
        </div>
      </div>

      {{!-- dialog Cancel and Save buttons --}}
      <div class="row d-flex justify-content-end mx-1 p-1">
        <button type="button" class="btn btn-secondary btn-sm col-2 m-1"
                onClick={{action "closeModalDialog"}}
         >
          Cancel
        </button>
        <button type="button" class="btn btn-primary btn-sm col-2 m-1"
                onClick={{action "onSave"}}
         >
          Save
        </button>
      </div>

    </div>
  </div>
</ModalDialog>
