<div class="detail-section">
  <div class="table-responsive">
    <center>
      {{#if this.boldTitle}}
        <strong>{{this.args.tableTitle}}</strong>
      {{else}}
        {{this.args.tableTitle}}
      {{/if}}
    </center>

    <table class="table table-hover table-bordered">
      <tbody>
        {{#if (or this.args.editable anyDataPresent)}}
          {{#each-in this.properties as |attr value|}}
            <tr>
              {{!-- <td>{{attr}}</td> --}}
              <td>{{value.label}}</td>
              <td>
                <Common::ValueUnitInput
                  @valueObject={{get this.baseProperty attr}}
                  @valueObject={{sara.fraction}}
                  @valueUnit={{this.args.valueUnit}}
                  @valuePrecision={{this.args.valuePrecision}}
                  @editable={{this.args.editable}}
                  @submit={{fn this.updateCellValue attr}}
                />
              </td>
            </tr>
          {{/each-in}}
        {{else}}
          <tr>
            <td>No Data</td>
          </tr>
        {{/if}}


      </tbody>
    </table>

  </div>

</div>
