<div class="detail-section">
  <div class="table-responsive">
    <div class="text-center">
      {{#if this.boldTitle}}
        <strong>{{@tableTitle}}</strong>
      {{else}}
        {{@tableTitle}}
      {{/if}}
    </div>

    <table class="table table-hover table-bordered">
      <tbody>
        {{#if (or @editable this.anyDataPresent)}}
          {{#each-in this.properties as |attr value|}}
            <tr>
              {{!-- <td>{{attr}}</td> --}}
              <td>{{value.label}}</td>
              <td>
                <Common::ValueUnitInput
                  @valueObject={{get this.baseProperty attr}}
                  @valueUnit={{@valueUnit}}
                  @valuePrecision={{@valuePrecision}}
                  @editable={{@editable}}
                  @submit={{fn this.updateCellValue attr}}
                />
              </td>
            </tr>
          {{/each-in}}
        {{else}}
          <tr>
            <td>No Data</td>
          </tr>
        {{/if}}
      </tbody>
    </table>

  </div>

</div>
