{{!-- 
    arguments:
        valueObject -- example: oil.adhesion.adhesion -- might be same as valueReference
        valueUnit - display unit
        valuePrecision - unit conversion precision
        editable - boolean
        submit - submit changes function
 --}}
{{#if @editable}}
  <div class="input-group">
    {{#if (or @valueObject.value (eq @valueObject.value 0))}}
      <Input
        @type="text"
        class="bg-transparent border form-control"
        @value={{value-unit (convert-unit @valueObject @valueUnit)
                 @valuePrecision true}} size="10" {{on "change" (action "updateValue")}}
      />
    {{else}}
      <Input
        @type="text"
        class="bg-transparent border form-control"
        @value=""
        placeholder="Enter a number value" size="10" {{on "change" (action "updateValue")}}
      />
    {{/if}}

    {{#if this.editUnit}}
      <Button::SelectUnit
        @baseProperty={{this.beaUnit}}
        @unitType={{@valueObject.unit_type}}
        @defaultUnit={{@defaultUnit}}
        @change={{action "updateUnit"}}
       />
    {{else}}
      <label class="input-group-text">{{this.beaUnit}}</label>
    {{/if}}

  </div>
{{else}}
  {{#if (or this.valueObject.value (eq @valueObject.value 0))}}
    {{value-unit (convert-unit @valueObject @valueUnit)
      @valuePrecision}}
  {{else}}
    &nbsp;
  {{/if}}
{{/if}}
