{{!-- 
    arguments:
        valueObject -- example: oil.adhesion.adhesion -- might be same as valueReference
        valueUnit - display unit
        valuePrecision - unit conversion precision
        editable - boolean
        submit - submit changes function
 --}}
{{#if this.args.editable}}
  <div class="input-group">
    {{#if (or this.args.valueObject.value (eq this.args.valueObject.value 0))}}
      <Input
        @type="text"
        @class="bg-transparent border form-control"
        @value={{value-unit (convert-unit this.args.valueObject this.args.valueUnit)
          this.args.valuePrecision true}}
        @change={{action "updateValue"}}
        @size="10"
      />
    {{else}}
      <Input
        @type="text"
        @class="bg-transparent border form-control"
        @value=""
        @placeholder="Enter a number value"
        @change={{action "updateValue"}}
        @size="10"
      />
    {{/if}}
    <label class="input-group-text">
      {{this.beaUnit}}
    </label>
  </div>
{{else}}
  {{#if (or this.valueObject.value (eq this.args.valueObject.value 0))}}
    {{value-unit (convert-unit this.args.valueObject this.args.valueUnit)
      this.args.valuePrecision}}
  {{else}}
    &nbsp;
  {{/if}}
{{/if}}