{{!-- 
    arguments:
        valueObject -- example: oil.adhesion.adhesion -- might be same as valueReference
        valueUnit - display unit
        valuePrecision - unit conversion precision
        editable
 --}}
{{#if this.args.editable}}
  <div class="row d-flex m-0 p-0">
    {{#if this.args.valueObject}}
      <Input
        @type="text"
        @class="flex-fill bg-transparent border"
        @value={{value-unit (convert-unit this.args.valueObject this.args.valueUnit)
          this.args.valuePrecision true}}
        @change={{action "updateValue"}}
        size="1"
      />
    {{else}}
      <Input
        @type="text"
        @class="flex-fill bg-transparent border"
        @value=""
        @placeholder="Enter a number value"
        @change={{action "updateValue"}}
        size="1"
      />
    {{/if}}
    <div class="pl-1">
      {{this.beaUnit}}
    </div>
  </div>
{{else}}
  {{#if this.args.valueObject}}
    {{value-unit (convert-unit this.args.valueObject this.args.valueUnit)
      this.args.valuePrecision}}
  {{else}}
    No Data
  {{/if}}
{{/if}}