{{!-- 
    arguments:
        tableTitle
        leftColumnTitle
        rightColumnTitle
        valueArray
        leftColumnValueName
        leftColumnUnit
        leftColumnPrecision
        rightColumnValueName
        rightColumnUnit
        rightColumnPrecision

 --}}

<div class="detail-section">
  <div class="table-responsive">
    <strong>{{this.args.tableTitle}}:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target={{concat "." (concat this.tableId "-row-collapse")}}
             aria-controls={{this.tableId}}
             aria-expanded="false">
        <tr>
          <th scope="col">{{this.args.leftColumnTitle}}</th>
          <th scope="col">{{this.args.rightColumnTitle}}</th>
        </tr>
      </thead>
      <tbody id={{concat this.tableId "-tbody"}}>
        {{#each this.valueArray as |value|}}
          <tr class="collapse show {{concat this.tableId "-row-collapse"}}">
            {{#if this.args.editable}}
              {{#with value}}
                <td>
                  <Common::ValueUnitInput
                    @valueObject={{get value this.args.leftColumnValueName}}
                    @valueUnit={{this.args.leftColumnUnit}}
                    @valuePrecision={{this.args.leftColumnPrecision}}
                    @editable={{this.args.editable}}
                  />
                </td>
                <td>
                  <Common::ValueUnitInput
                    @valueObject={{get value this.args.rightColumnValueName}}
                    @valueUnit={{this.args.rightColumnUnit}}
                    @valuePrecision={{this.args.rightColumnPrecision}}
                    @editable={{this.args.editable}}
                  />
                </td>
              {{/with}}
              <td>
                {{fa-icon "times"}}
              </td>
            {{else}}
              {{#with value}}
                <td>{{value-unit (convert-unit (get value this.args.leftColumnValueName) "g/cm^3") 3}}</td>
                <td>{{value-unit (convert-unit (get value this.args.rightColumnValueName) "C") 2}}</td> 
              {{/with}}
            {{/if}}
          </tr>
        {{/each}}
        {{#if this.args.editable}}
          <tr>
            {{fa-icon "plus"}}
          </tr>
        {{/if}}

        {{#if this.valueArray}}
          <tr class="collapse {{concat this.tableId "-row-collapse"}}">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}

      </tbody>
    </table>

  </div>


</div>
