{{!--
  Two column value-unit table component
    arguments:
        tableTitle
        leftColumnTitle
        rightColumnTitle
        valueArray
        leftColumnValueName
        leftColumnUnit
        leftColumnUnitType
        leftColumnPrecision
        rightColumnValueName
        rightColumnUnit
        rightColumnPrecision
--}}

<div class="detail-section">
  <div class="table-responsive">
    <strong>{{@tableTitle}}:</strong>

    <table class="table table-hover table-bordered">
      <thead aria-controls={{this.tableId}}
             aria-expanded="false">
        <tr>
          <th scope="col">{{@leftColumnTitle}}</th>
          <th scope="col">{{@rightColumnTitle}}</th>

          {{#if @editable}}
            <td class="border-0">
              <button type="button"
                {{on "click" (fn this.addEmptyTableRow 0)}}
                class="btn btn-outline-dark btn-sm p-0 border-0">
                {{fa-icon "plus"}}
              </button>
            </td>
          {{/if}}

        </tr>
      </thead>
      <tbody id={{concat this.tableId "-tbody"}}>
        {{#each this.valueArray as |value index|}}
          <tr>
            <td>
              <Common::ValueUnitInput
                @valueObject={{get value @leftColumnValueName}}
                @valueUnit={{@leftColumnUnit}}
                @valueUnitType={{@leftColumnUnitType}}
                @valuePrecision={{@leftColumnPrecision}}
                @editable={{@editable}}
                @submit={{fn this.updateCellValue index @leftColumnValueName}}
              />
            </td>
            <td>
              <Common::ValueUnitInput
                @valueObject={{get value @rightColumnValueName}}
                @valueUnit={{@rightColumnUnit}}
                @valuePrecision={{@rightColumnPrecision}}
                @editable={{@editable}}
                @submit={{fn this.updateCellValue index @rightColumnValueName}}
              />
            </td>
            {{#if @editable}}
              <td class="border-0">
                <button type="button"
                  {{on "click" (fn this.deleteTableRow index)}}
                  class="btn btn-outline-danger btn-sm p-0 border-0">
                  {{fa-icon "times"}}
                </button>

                <button type="button"
                  {{on "click" (fn this.addEmptyTableRow (add index 1))}}
                  class="btn btn-outline-dark btn-sm p-0 border-0">
                  {{fa-icon "plus"}}
                </button>
              </td>
            {{/if}}
          </tr>
        {{/each}}
        {{#unless @editable}}
          {{#unless this.valueArray}}
            <tr><td>No Data</td></tr>
          {{/unless}}
        {{/unless}}

      </tbody>
    </table>

  </div>
</div>
