<BsModal @onSubmit={{action "submitForm"}}
         @onHidden={{action "closeForm"}}
         as |Modal|>
  <Modal.header>
    <h5 class="modal-title" id="copyOilDialogLabel">Copy Oil</h5>
  </Modal.header>
  <Modal.body>
    <div class="row">
      <div class="col-12 mb-3">
        <span>
          Use this function to create a copy of this oil record. Enter a name for the new oil record below.
        </span>
      </div>
    </div>

    <div class="form">
      <div class="row">

        <div class="col-12">
          <Input type="text" class="form-control bg-transparent border"
                 value={{this.oilName}}
                 title="Oil Name"
                 {{on "change" this.updateName}}
                 {{on "keypress" this.updateName}}
                 {{on "focusout" this.updateName}}
          />
        </div>

      </div>
    </div>
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="secondary">Cancel</BsButton>

    <BsButton @onClick={{action Modal.submit}} @type="primary"
              disabled={{not this.formFilledOut}}>
      OK
    </BsButton>
  </Modal.footer>
</BsModal>
