<BsModal @onSubmit={{action "submitForm"}}
         @onHidden={{action "closeForm"}}
         as |Modal|>
  <Modal.header>
    <h5 class="modal-title" id="deleteOilDialogLabel">
      Deleting Oil: '{{@oil.metadata.name}}'
    </h5>
  </Modal.header>
  <Modal.body>
    <div class="form">

      <div class="d-flex justify-content-center">
        <strong>
          This will permanently remove the oil from the database.<br>
          Are you sure you want to do this?
        </strong>
      </div>

    </div>
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="secondary">Cancel</BsButton>
    <BsButton @onClick={{action Modal.submit}} @type="primary">OK</BsButton>
  </Modal.footer>
</BsModal>
