  <BsModal @onSubmit={{action "submitForm"}}
           @onHidden={{action "closeForm"}}
           as |Modal|>
    <Modal.header>
      <h5 class="modal-title" id="uploadDialogLabel">Upload Oil</h5>
    </Modal.header>
    <Modal.body>
      <div class="form">
        <div class="row">

          <div class="col-10">
            <div class="form-group">
              <input type="file" class="form-control-file border" name="file"
                     accept=".json"
                     title="Choose File"
                     {{on "change" this.updateFile}} >
            </div>
          </div>
        </div>
      </div>
    </Modal.body>
    <Modal.footer as |footer|>
      <BsButton @onClick={{action Modal.close}} @type="secondary">Cancel</BsButton>
      <BsButton @onClick={{action Modal.submit}} @type="primary">OK</BsButton>
    </Modal.footer>
  </BsModal>
