<div class="detail-section">
  <div class="table-responsive d-flex input-group align-items-center">
    <label class="p-1 input-group-text font-weight-bold">Adhesion:</label>

    {{#if this.args.editable}}
      <Common::RangeValueInput
        @valueTitle="Adhesion"
        @valueObject={{this.args.oil}}
        @valueName="adhesion.adhesion"
        @valueUnit="N/m^2"
        @valuePrecision="2"
        @sampleIndex={{this.args.sampleIndex}}
        @submit={{this.submit}}
      />
    {{else}}
      {{#if this.args.oil.adhesion.adhesion}}
        {{value-unit this.args.oil.adhesion.adhesion 3}}
      {{else}}
        No Data
      {{/if}}
    {{/if}}
  </div>

  &nbsp;

</div>
