<div class="detail-section">
  <div class="table-responsive d-flex align-items-center">
    <label class="p-1 input-group-text font-weight-bold">Adhesion:</label>

    {{#if this.args.editable}}
      {{#if this.adhesion}}
        <Input
          @type="text"
          @class="p-1 bg-transparent border"
          @placeholder="adhesion value"
          value={{value-unit this.adhesion.adhesion 3 true}}
          {{on "change" this.updateAdhesion}}
        />
      {{else}}
        <Input
          @type="text"
          @class="p-1 bg-transparent border"
          @placeholder="adhesion value"
          value="" 
          {{on "change" this.updateAdhesion}}
        />
      {{/if}}
    {{else}}
      {{#if this.adhesion}}
        {{value-unit this.adhesion.adhesion 3}}
      {{else}}
        No Data
      {{/if}}
    {{/if}}
  </div>

</div>
