<div class="detail-section">
  <div class="table-responsive d-flex input-group align-items-center">
    <label class="p-1 input-group-text font-weight-bold">Adhesion:</label>

    {{#if @editable}}
      <Common::RangeValueInput
        @valueTitle="Adhesion"
        @valueObject={{@oil}}
        @valueName="adhesion.adhesion"
        @valueUnit="N/m^2"
        @valuePrecision="2"
        @sampleIndex={{@sampleIndex}}
        @submit={{this.submit}}
      />
    {{else}}
      {{#if @oil.adhesion.adhesion}}
        {{value-unit @oil.adhesion.adhesion 3}}
      {{else}}
        No Data
      {{/if}}
    {{/if}}
  </div>

  &nbsp;

</div>
