<div class="detail-section">
  <strong>Alkanes:</strong>

  <div class="row">

    <div class="col-xs-12 col-md-6 col-lg-4">
      <Common::StaticTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle=""
        @templateName="alkanes_8_20"
        @boldTitle={{false}}
        @propertyName="alkanes"
        @valueUnit="ppm"
        @valuePrecision={{3}}
      />
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <Common::StaticTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle=""
        @templateName="alkanes_21_33"
        @boldTitle={{false}}
        @propertyName="alkanes"
        @valueUnit="ppm"
        @valuePrecision={{3}}
      />
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <Common::StaticTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle=""
        @templateName="alkanes_34_44_others"
        @boldTitle={{false}}
        @propertyName="alkanes"
        @valueUnit="ppm"
        @valuePrecision={{3}}
      />
    </div>

  </div>
</div>
