<div class="detail-section">
  <strong>Alkylated PAHs:</strong>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-8">

      <div class="row">

        <div class="col-xs-12 col-lg-6">
          <div class="table-responsive">
            <Common::StaticTable
              @store={{this.store}}
              @oil={{this.oil}}
              @editable={{this.editable}}
              @submit={{this.submit}}
              @tableTitle="Naphthalenes"
              @boldTitle={{false}}
              @propertyName="alkylated_pahs"
              @valueUnit="ppm"
              @valuePrecision={{3}}
            />
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="table-responsive">
            <Common::StaticTable
              @store={{this.store}}
              @oil={{this.oil}}
              @editable={{this.editable}}
              @submit={{this.submit}}
              @tableTitle="Phenanthrenes"
              @boldTitle={{false}}
              @propertyName="alkylated_pahs"
              @valueUnit="ppm"
              @valuePrecision={{3}}
            />
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="table-responsive">
            <Common::StaticTable
              @store={{this.store}}
              @oil={{this.oil}}
              @editable={{this.editable}}
              @submit={{this.submit}}
              @tableTitle="Fluorenes"
              @boldTitle={{false}}
              @propertyName="alkylated_pahs"
              @valueUnit="ppm"
              @valuePrecision={{3}}
            />
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="table-responsive">
            <Common::StaticTable
              @store={{this.store}}
              @oil={{this.oil}}
              @editable={{this.editable}}
              @submit={{this.submit}}
              @tableTitle="Chrysenes"
              @boldTitle={{false}}
              @propertyName="alkylated_pahs"
              @valueUnit="ppm"
              @valuePrecision={{3}}
            />
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="table-responsive">
            <Common::StaticTable
              @store={{this.store}}
              @oil={{this.oil}}
              @editable={{this.editable}}
              @submit={{this.submit}}
              @tableTitle="Benzonaphthothiophenes"
              @boldTitle={{false}}
              @propertyName="alkylated_pahs"
              @valueUnit="ppm"
              @valuePrecision={{3}}
            />
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="table-responsive">
            <Common::StaticTable
              @store={{this.store}}
              @oil={{this.oil}}
              @editable={{this.editable}}
              @submit={{this.submit}}
              @tableTitle="Dibenzothiophenes"
              @boldTitle={{false}}
              @propertyName="alkylated_pahs"
              @valueUnit="ppm"
              @valuePrecision={{3}}
            />
          </div>
        </div>

      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-lg-4">
      <div class="table-responsive">
        <Common::StaticTable
          @store={{this.store}}
          @oil={{this.oil}}
          @editable={{this.editable}}
          @submit={{this.submit}}
          @tableTitle="Other Priority PAHs"
          @boldTitle={{false}}
          @propertyName="alkylated_pahs"
          @valueUnit="ppm"
          @valuePrecision={{3}}
        />
      </div>
    </div>

  </div>
</div>
