<div class="detail-section">
  <strong>Alkylated PAHs:</strong>

  <div class="row">
  <div class="col-5">

    <div class="row">

      <div class="col-6">
        <div class="table-responsive">
          <Table::AlkylatedPah::CxN @oil={{oil}}/>
        </div>
      </div>

      <div class="col-6">
        <div class="table-responsive">
          <Table::AlkylatedPah::CxP @oil={{oil}}/>
        </div>
      </div>

      <div class="col-6">
        <div class="table-responsive">
          <Table::AlkylatedPah::CxF @oil={{oil}}/>
        </div>
      </div>

      <div class="col-6">
        <div class="table-responsive">
          <Table::AlkylatedPah::CxC @oil={{oil}}/>
        </div>
      </div>

      <div class="col-6">
        <div class="table-responsive">
          <Table::AlkylatedPah::CxB @oil={{oil}}/>
        </div>
      </div>

      <div class="col-6">
        <div class="table-responsive">
          <Table::AlkylatedPah::CxD @oil={{oil}}/>
        </div>
      </div>

    </div>

  </div>

  <div class="col-4">

    <div class="row">

      <div class="col-10">
        <div class="table-responsive">
          <Table::AlkylatedPah::Other @oil={{oil}}/>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
