<div class="detail-section">
  <div class="table-responsive">
    <Common::StaticTable
      @store={{this.store}}
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      @tableTitle="BTEX Group:"
      @boldTitle={{true}}
      @propertyName="benzene"
      @valueUnit="ppm"
      @valuePrecision={{3}}
    />
  </div>
</div>
