<div class="detail-section">
    <Common::StaticTable
      @store={{this.store}}
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      @tableTitle="C4-C6 Alkyl Benzenes:"
      @boldTitle={{true}}
      @propertyName="benzene"
      @valueUnit="ppm"
      @valuePrecision={{3}}
    />
</div>
