<div class="detail-section">
  <div class="table-responsive">
    <strong>BTEX Group:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".btex-row-collapse"
             aria-controls="btex-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Toluene</th>
          <th scope="col">Ethylbenzene</th>
          <th scope="col">m&p-Xylene</th>
          <th scope="col">o-Xylene</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="btex-tbody">
        {{#each oil.benzene as |benzene index|}}
          {{#if (eq benzene.weathering weathered)}}
            <tr class="collapse show btex-row-collapse">
              <th scope="row">{{index}}</th>
              <td>{{value-unit benzene.toluene 2}}</td>
              <td>{{value-unit benzene.ethylbenzene 2}}</td>
              <td>{{value-unit benzene.m_p_xylene 2}}</td>
              <td>{{value-unit benzene.o_xylene 2}}</td>
              <td>{{benzene.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.benzene}}
          <tr class="collapse btex-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
