<div class="detail-section">
  <div class="table-responsive">
    <strong>Benzene & Alkylated Benzene:</strong>

    {{!-- {{#if this.editable}}
      <Input
        @class="p-1 my-3 flex-fill bg-transparent border"
        @value={{oil.benzene.benzene}}
        @placeholder="Enter a number value"
        @change={{action this.submit this.oil}}
      />
    {{else}}
      {{#if oil.benzene.benzene}}
        {{value-unit oil.benzene.benzene 2}}
      {{else}}
        No Data
      {{/if}}
    {{/if}}   --}}

    {{#if oil.benzene.benzene}}
      {{value-unit oil.benzene.benzene 2}}
    {{else}}
      No Data
    {{/if}}

  </div>

</div>
