<div class="detail-section">
  <div class="table-responsive">
    <strong>Biomarkers:</strong>

    <table class="table table-hover table-bordered">
      <thead></thead>
      <tbody id="biomarkers-tbody">
        {{#if oil.biomarkers}}
          <tr>
            <td>C21 Tricyclic Terpane</td>
            <td>{{value-unit oil.biomarkers.c21_tricyclic_terpane 2}}</td>
          </tr>
          <tr>
            <td>C22 Tricyclic Terpane</td>
            <td>{{value-unit oil.biomarkers.c22_tricyclic_terpane 2}}</td>
          </tr>
          <tr>
            <td>C23 Tricyclic Terpane</td>
            <td>{{value-unit oil.biomarkers.c23_tricyclic_terpane 2}}</td>
          </tr>
          <tr>
            <td>C24 Tricyclic Terpane</td>
            <td>{{value-unit oil.biomarkers.c24_tricyclic_terpane 2}}</td>
          </tr>
          <tr>
            <td>30-Norhopane</td>
            <td>{{value-unit oil.biomarkers._30_norhopane 2}}</td>
          </tr>
          <tr>
            <td>Hopane</td>
            <td>{{value-unit oil.biomarkers.hopane 2}}</td>
          </tr>
          <tr>
            <td>30-Homohopane-22S</td>
            <td>{{value-unit oil.biomarkers._30_homohopane_22s 2}}</td>
          </tr>
          <tr>
            <td>30-Homohopane-22R</td>
            <td>{{value-unit oil.biomarkers._30_homohopane_22r 2}}</td>
          </tr>
          <tr>
            <td>30,31-Bishomohopane-22S</td>
            <td>{{value-unit oil.biomarkers._30_31_bishomohopane_22s 2}}</td>
          </tr>
          <tr>
            <td>30,31-Bishomohopane-22R</td>
            <td>{{value-unit oil.biomarkers._30_31_bishomohopane_22r 2}}</td>
          </tr>
          <tr>
            <td>30,31-Trishomohopane-22S</td>
            <td>{{value-unit oil.biomarkers._30_31_trishomohopane_22s 2}}</td>
          </tr>
          <tr>
            <td>30,31-Trishomohopane-22R</td>
            <td>{{value-unit oil.biomarkers._30_31_trishomohopane_22r 2}}</td>
          </tr>
          <tr>
            <td>Tetrakishomohopane-22S</td>
            <td>{{value-unit oil.biomarkers.tetrakishomohopane_22s 2}}</td>
          </tr>
          <tr>
            <td>Tetrakishomohopane-22R</td>
            <td>{{value-unit oil.biomarkers.tetrakishomohopane_22r 2}}</td>
          </tr>
          <tr>
            <td>Pentakishomohopane-22S</td>
            <td>{{value-unit oil.biomarkers.pentakishomohopane_22s 2}}</td>
          </tr>
          <tr>
            <td>Pentakishomohopane-22R</td>
            <td>{{value-unit oil.biomarkers.pentakishomohopane_22r 2}}</td>
          </tr>
          <tr>
            <td>18&#x3B1;,22,29,30-Trisnorneohopane</td>
            <td>{{value-unit oil.biomarkers._18a_22_29_30_trisnorneohopane 2}}</td>
          </tr>
          <tr>
            <td>17&#x3B1;(H)-22,29,30-Trisnorhopane</td>
            <td>{{value-unit oil.biomarkers._17a_h_22_29_30_trisnorhopane 2}}</td>
          </tr>
          <tr>
            <td>14&#x3B2;(H),17&#x3B2;(H)-20-Cholestane</td>
            <td>{{value-unit oil.biomarkers._14b_h_17b_h_20_cholestane 2}}</td>
          </tr>
          <tr>
            <td>14&#x3B2;(H),17&#x3B2;(H)-20-Methylcholestane</td>
            <td>{{value-unit oil.biomarkers._14b_h_17b_h_20_methylcholestane 2}}</td>
          </tr>
          <tr>
            <td>14&#x3B2;(H),17&#x3B2;(H)-20-Ethylcholestane</td>
            <td>{{value-unit oil.biomarkers._14b_h_17b_h_20_ethylcholestane 2}}</td>
          </tr>
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>

  </div>
</div>
