<div class="detail-section">
  <div class="table-responsive">
    <strong>CCME Fractions:</strong>

    <table class="table table-hover table-bordered">
      <thead></thead>
      <tbody id="ccme-tbody">
        {{#if oil.ccme}}
          <tr>
            <td>F1</td>
            <td>{{value-unit oil.ccme.f1 3}}</td>
          </tr>
          <tr>
            <td>F2</td>
            <td>{{value-unit oil.ccme.f2 3}}</td>
          </tr>
          <tr>
            <td>F3</td>
            <td>{{value-unit oil.ccme.f3 3}}</td>
          </tr>
          <tr>
            <td>F4</td>
            <td>{{value-unit oil.ccme.f4 3}}</td>
          </tr>
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>

  </div>
</div>
