<div class="detail-section">
  <div class="table-responsive">
    <strong>Chemical Dispersibility:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".chemdisp-row-collapse"
             aria-controls="chemdisp-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Dispersant</th>
          <th scope="col">Effectiveness</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="chemdisp-tbody">
        {{#each oil.chemicalDispersibility as |dispersibility index|}}
          {{#if (eq dispersibility.weathering weathered)}}
            <tr class="collapse show chemdisp-row-collapse">
              <th scope="row">{{index}}</th>
              <td>{{dispersibility.dispersant}}</td>
              <td>{{value-unit dispersibility.effectiveness 3}}</td>
              <td>{{dispersibility.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.chemicalDispersibility}}
          <tr class="collapse chemdisp-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
