<div class="detail-section">
  <div class="table-responsive">
  <strong>Gas Chromatography:</strong>

    <table class="table table-hover table-bordered">
      <thead></thead>
      <tbody id="gc-tbody">
        {{#if oil.chromatography}}
          <tr>
            <td>Total Petroleum Hydocarbon</td>
            <td>{{value-unit oil.chromatography.tph 3}}</td>
          </tr>
          <tr>
            <td>Total Saturate Hydrocarbon</td>
            <td>{{value-unit oil.chromatography.tsh 3}}</td>
          </tr>
          <tr>
            <td>Total Aromatic Hydrocarbon</td>
            <td>{{value-unit oil.chromatography.tah 3}}</td>
          </tr>
          <tr>
            <td>TSH/TPH</td>
            <td>{{value-unit oil.chromatography.tsh_tph 3}}</td>
          </tr>
          <tr>
            <td>TAH/TPH</td>
            <td>{{value-unit oil.chromatography.tah_tph 3}}</td>
          </tr>
          <tr>
            <td>Resolved Peaks / TPH</td>
            <td>{{value-unit oil.chromatography.resolved_peaks_tph 3}}</td>
          </tr>
       {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>

  </div>    
</div>
