<div class="detail-section">
  <div class="table-responsive">
    <strong>Conradson:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".conradson-row-collapse"
             aria-controls="conradson-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Fraction</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="conradson-tbody">
        {{#each oil.conradson as |conradson index|}}
          {{#if (eq conradson.weathering weathered)}}
            <tr class="collapse show conradson-row-collapse">
              <th scope="row">{{index}}</th>
              {{#if conradson.crude}}
                <td>Crude</td>
                <td>{{value-unit conradson.crude 3}}</td>
              {{else}}
                <td>Residue</td>
                <td>{{value-unit conradson.residue 3}}</td>
              {{/if}}
              <td>{{conradson.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.conradson}}
          <tr class="collapse conradson-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
