<div class="row">

  {{#if this.args.editable}}
    <div class="col-11">
      <Common::ValueUnitTable
        @tableTitle="Distillation Cuts"
        @leftColumnTitle="Mass Percent"
        @rightColumnTitle="Vapor Temperature"
        @valueArray={{this.args.oil.cuts}}
        @leftColumnValueName="fraction"
        @leftColumnUnit={{"%"}}
        @leftColumnPrecision={{2}}
        @rightColumnValueName="vapor_temp"
        @rightColumnUnit="C"
        @rightColumnPrecision={{2}}
        @editable={{this.args.editable}}
        @submit={{this.submit}}
      />
    </div>
  {{else}}
    <Common::ValueUnitTable
      @tableTitle="Distillation Cuts"
      @leftColumnTitle="Mass Percent"
      @rightColumnTitle="Vapor Temperature"
      @valueArray={{this.args.oil.cuts}}
      @leftColumnValueName="fraction"
      @leftColumnUnit={{"%"}}
      @leftColumnPrecision={{2}}
      @rightColumnValueName="vapor_temp"
      @rightColumnUnit="C"
      @rightColumnPrecision={{2}}
      @editable={{this.args.editable}}
      @submit={{this.submit}}
    />
  {{/if}}

</div>
