<div class="detail-section">
  <div class="table-responsive">
    <strong>Distillation Cuts:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".cut-row-collapse"
             aria-controls="cut-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fraction</th>
          <th scope="col">Vapor Temperature</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="cut-tbody">
        {{#each oil.cuts as |cut index|}}
          {{#if (eq cut.weathering weathered)}}
            <tr class="collapse show cut-row-collapse">
              <th scope="row">{{index}}</th>
              <td>{{value-unit cut.fraction 3}}</td>
              <td>{{value-unit (convert-unit cut.vapor_temp "C") 2}}</td>
              <td>{{cut.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.cuts}}
          <tr class="collapse cut-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
