<div class="detail-section">
  <strong>Emulsion Properties:</strong>

  <table class="table table-hover table-bordered">
    <thead class="clickable" data-toggle="collapse"
           data-target=".emulsion-row-collapse"
           aria-controls="emulsion-tbody"
           aria-expanded="false">
      <tr></tr>
    </thead>
    <tbody id="emulsion-tbody">
      {{#if oil.emulsions}}
        {{#each-in tableFieldAttrs as |emul_prop value|}}
          <tr>
            <th>{{value.label}}</th>

            {{#each oil.emulsions as |emulsion|}}
              {{#if value.unitValue}}
                {{#if value.convertUnit}}
                  <td>{{value-unit (convert-unit (get emulsion emul_prop) value.convertUnit) 1}}</td>
                {{else}}
                  <td>{{value-unit (get emulsion emul_prop) 3}}</td>
                {{/if}}
              {{else}}
                <td>{{get emulsion emul_prop}}</td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each-in}}
      {{else}}
        <tr><td>No Data</td></tr>
      {{/if}}
    </tbody>
  </table>

</div>
