<div class="detail-section">
  <div class="table-responsive">
    <strong>Emulsion Properties:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".emulsion-row-collapse"
             aria-controls="emulsion-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Visual Stability</th>
          <th scope="col">Water Content</th>
          <th scope="col">Complex Viscosity</th>
          <th scope="col">Complex Modulus</th>
          <th scope="col">Storage Modulus</th>
          <th scope="col">Loss Modulus</th>
          <th scope="col">Tan Delta (V/E)</th>
          <th scope="col">Age</th>
          <th scope="col">Temperature</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="emulsion-tbody">
        {{#each oil.emulsions as |emulsion index|}}
          {{#if (eq emulsion.weathering weathered)}}
            <tr class="collapse show emulsion-row-collapse">
              <th scope="row">{{index}}</th>
              <td>{{emulsion.visual_stability}}</td>
              <td>{{value-unit emulsion.water_content 3}}</td>
              <td>{{value-unit emulsion.complex_viscosity 3}}</td>
              <td>{{value-unit emulsion.complex_modulus 3}}</td>
              <td>{{value-unit emulsion.storage_modulus 3}}</td>
              <td>{{value-unit emulsion.loss_modulus 3}}</td>
              <td>{{round-relative emulsion.tan_delta_v_e 3}}</td>
              <td>{{value-unit (convert-unit emulsion.age "days") 1}}</td>
              <td>{{value-unit (convert-unit emulsion.ref_temp "C") 3}}</td>
              <td>{{emulsion.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.emulsions}}
          <tr class="collapse emulsion-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
