<div class="detail-section">
  <div class="table-responsive">
    <strong>Evaporation Equations:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".evaporationeqs-row-collapse"
             aria-controls="evaporationeqs-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">A</th>
          <th scope="col">B</th>
          <th scope="col">C</th>
          <th scope="col">Equation</th>
        </tr>
      </thead>
      <tbody id="evaporationeqs-tbody">
        {{#each oil.evaporation_eqs as |evap index|}}
          <tr class="collapse show evaporationeqs-row-collapse">
            <td>{{evap.a}}</td>
            <td>{{evap.b}}</td>
            <td>{{evap.c}}</td>
            <td>{{evap.equation}}</td>
          </tr>
        {{/each}}

        {{#if oil.evaporation_eqs}}
          <tr class="collapse evaporationeqs-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
