<div class="detail-section">
  <div class="table-responsive">
    <strong>Evaporation Equations:</strong>

    <table class="table table-hover table-bordered">
      <thead aria-controls="evaporationeqs-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">A</th>
          <th scope="col">B</th>
          <th scope="col">C</th>
          <th scope="col">Equation</th>
        </tr>
      </thead>
      <tbody id="evaporationeqs-tbody">
        {{#if oil.evaporation_eqs}}
          {{#each oil.evaporation_eqs as |evap|}}
            <tr>
              <td>{{evap.a}}</td>
              <td>{{evap.b}}</td>
              <td>{{evap.c}}</td>
              <td>{{evap.equation}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
