<div class="detail-section">
  <div class="table-responsive">
    <strong>Headspace Analysis:</strong>

    <table class="table table-hover table-bordered">
      <thead></thead>
      <tbody id="headspace-tbody">
        {{#if oil.headspace}}
          <tr>
            <td>n-C5</td>
            <td>{{value-unit oil.headspace.n_c5 2}}</td>
          </tr>
          <tr>
            <td>n-C6</td>
            <td>{{value-unit oil.headspace.n_c6 2}}</td>
          </tr>
          <tr>
            <td>n-C7</td>
            <td>{{value-unit oil.headspace.n_c7 2}}</td>
          </tr>
          <tr>
            <td>n-C8</td>
            <td>{{value-unit oil.headspace.n_c8 2}}</td>
          </tr>
          <tr>
            <td>C5 Group</td>
            <td>{{value-unit oil.headspace.c5_group 2}}</td>
          </tr>
          <tr>
            <td>C6 Group</td>
            <td>{{value-unit oil.headspace.c6_group 2}}</td>
          </tr>
          <tr>
            <td>C7 Group</td>
            <td>{{value-unit oil.headspace.c7_group 2}}</td>
          </tr>
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
