<div class="detail-section">
  <div class="table-responsive">
    <strong>Interfacial Tension:</strong>

    <table class="table table-hover table-bordered">
      <thead aria-controls="ift-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">Interface</th>
          <th scope="col">Tension</th>
          <th scope="col">Temperature</th>
        </tr>
      </thead>
      <tbody id="ift-tbody">
        {{#if oil.ifts}}
          {{#each oil.ifts as |ift|}}
            <tr>
              <td>{{ift.interface}}</td>
              <td>{{value-unit ift.tension 3}}</td>
              <td>
                <Common::ValueUnitInput
                  @valueObject={{ift.ref_temp}}
                  @valueUnit={{"C"}}
                  @valuePrecision={{2}}
                  @editable={{this.editable}}
                />
              </td>
              {{!-- 
              <td>{{value-unit ift.tension 3}}</td>
              <td>{{value-unit (convert-unit ift.ref_temp "C") 2}}</td>
              --}}
            </tr>
          {{/each}}
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
