<div class="row">
  <div class="col-12">
    <div class="detail-section">
      <div class="table-responsive pr-1">
        <strong>Interfacial Tension:</strong>

        <table class="table table-hover">
          <thead aria-controls="ift-tbody">
            <tr>
              <th scope="col">Interface</th>
              <th scope="col">Tension</th>
              <th scope="col">Temperature</th>

              {{#if @editable}}
                <td class="border-0">
                  <button type="button"
                    {{on "click" (fn this.addEmptyTableRow 0)}}
                    class="btn btn-outline-dark btn-sm p-0 border-0">
                    <FaIcon @icon="plus" />
                  </button>
                </td>
              {{/if}}

            </tr>
          </thead>
          <tbody id="ift-tbody">
            {{#each this.iftsArray as |ift index|}}
              <tr>
                <td>
                  {{#if @editable}}
                    <select class="p-1 flex-fill bg-transparent border" {{on "change" (fn this.updateInterface index)}}>
                      {{#each @interfaces as |interface|}}
                        {{#if (eq ift.interface interface)}}
                          <option class="bg-light" selected>{{interface}}</option>
                        {{else}}
                          <option class="bg-light">{{interface}}</option>
                        {{/if}}
                      {{/each}}
                    </select>
                  {{else}}
                    {{ift.interface}}
                  {{/if}}
                </td>
                <td>
                  <Common::ValueUnitInput
                    @valueObject={{get (set-attr-if-none ift "tension" (hash)) "tension"}}
                    @valueUnit={{"N/m"}}
                    @valuePrecision={{3}}
                    @editable={{@editable}}
                    @submit={{fn this.updateAttr index "tension"}}
                  />
                </td>
                <td>
                  <Common::ValueUnitInput
                    @valueObject={{get (set-attr-if-none ift "ref_temp" (hash)) "ref_temp"}}
                    @valueUnit={{"C"}}
                    @valuePrecision={{2}}
                    @editable={{@editable}}
                    @submit={{fn this.updateAttr index "ref_temp"}}
                  />
                </td>

                {{#if @editable}}
                  <td class="border-0">
                    <button type="button"
                      {{on "click" (fn this.deleteTableRow index)}}
                      class="btn btn-outline-danger btn-sm p-0 border-0">
                      <FaIcon @icon="times" />
                    </button>
                  </td>

                  <td class="border-0">
                    <button type="button"
                      {{on "click" (fn this.addEmptyTableRow (add index 1))}}
                      class="btn btn-outline-dark btn-sm p-0 border-0">
                      <FaIcon @icon="plus" />
                    </button>
                  </td>
                {{/if}}

                {{!-- 
                <td>{{ift.interface}}</td>
                <td>{{value-unit ift.tension 3}}</td>
                <td>{{value-unit (convert-unit ift.ref_temp "C") 2}}</td>
                --}}
              </tr>
            {{/each}}

            {{#unless this.iftsArray}}
              <tr><td>No Data</td></tr>
            {{/unless}}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
