{{#light-table table height="65vh" as |t|}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="row h-100 align-items-center">
          <input class="form-control"
            value={{q}}
            placeholder="Search..."
            oninput={{action (pipe (action (mut q)) (action "onSearchChange")) value="target.value"}}
          >
        </div>

      </div>

      <div class="col-3">
        <div class="row h-100 align-items-center">
          <div class="col-2">
            <strong>API</strong>
          </div>
          <div class="col-10">
            {{range-slider start=(array 0 100)
              min=0
              max=100
              step=1
              connect=true
              tooltips=true
              }}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row h-100 align-items-center">
          <div class="col-2">
            <strong>Categories</strong>
          </div>
          <div class="col-10">
            <PowerSelectMultiple
              @selected={{this.selectedLabels}}
              @options={{this.labels}}
              @onChange={{action (mut this.selectedLabels)}}
              @onKeydown={{this.handleKeydown}} as |name|>
              {{name}}
            </PowerSelectMultiple>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{t.head
    onColumnClick=(action "onColumnClick")
    iconSortable="fa fa-sort"
    iconAscending="fa fa-sort-asc"
    iconDescending="fa fa-sort-desc"
    fixed=true
  }}

  {{#t.body
    canSelect=false
    onScrolledToBottom=(action "onScrolledToBottom")
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table/loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
