{{#light-table table height="65vh" as |t|}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        {{one-way-select selectedFilter
            options=possibleFilters
            optionValuePath="valuePath"
            optionLabelPath="label"
            update=(action (pipe (action (mut selectedFilter)) (action "onSearchChange")))
        }}
        {{one-way-input
          value=q
          placeholder="Search..."
          update=(action (pipe (action (mut q)) (action "onSearchChange")))
        }}
      </div>

      <div class="col-3">
        <PowerSelectMultiple
          @selected={{this.selectedCities}}
          @options={{this.cities}}
          @onChange={{action (mut this.selectedCities)}}
          @onKeydown={{this.handleKeydown}} as |name|>
          {{name}}
        </PowerSelectMultiple>
      </div>

    </div>
  </div>

  {{t.head
    onColumnClick=(action "onColumnClick")
    iconSortable="fa fa-sort"
    iconAscending="fa fa-sort-asc"
    iconDescending="fa fa-sort-desc"
    fixed=true
  }}

  {{#t.body
    canSelect=false
    onScrolledToBottom=(action "onScrolledToBottom")
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table/loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
