{{#light-table table height="65vh" class="w-100" as |t|}}
  <div class="container-fluid mb-2">
    <div class="row">
      <div class="col-3">
        <div class="row h-100 ml-1 align-items-center">
          <input class="form-control"
            value={{q}}
            placeholder="Search ID, Name, or Location"
            oninput={{action (pipe (action (mut q)) (action "onSearchChange")) value="target.value"}}
          >
        </div>

      </div>

      <div class="col-3">
        <div class="row h-100 align-items-center">
          <div class="col-sm-4 col-lg-3 col-xl-2">
            <strong>API </strong>
          </div>
          <div class="col-sm-8 col-lg-9 col-xl-10">
            <RangeSlider
              @start={{this.selectedApi}} @min={{0}} @max={{100}} @step={{1}}
              @connect={{true}}
              @tooltips={{true}}
              @on-change={{action (pipe (action (mut this.selectedApi)) (action "onSearchChange"))}}
            />
          </div>
        </div>
      </div>

      <div class="col-6">

        <div class="row h-75 align-items-center">
          <div class="col-2 pr-0 align-right">
            <strong>Type</strong>
          </div>
          <div class="col-10 ml-0">
            <select class="p-1 mt-1 overflow-hidden bg-transparent border"
                onChange={{action (pipe (action "onTypeSelected")
                                        (action "onSearchChange") )}}
            >
              <option class="bg-light">None</option>

              {{#each this.productTypes.firstObject.product_types as |oilType|}}
                {{#if (eq oilType this.selectedType)}}
                  <option class="bg-light" selected="true">{{oilType}}</option>
                {{else}}
                  <option class="bg-light">{{oilType}}</option>
                {{/if}}
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row h-75 align-items-center">
          <div class="col-2 pr-0 align-right">
            <strong>Labels</strong>
          </div>
          <div class="col-10 ml-0">
            <PowerSelectMultiple
              @selected={{this.selectedLabels}}
              @options={{this.filteredLabels}}
              @onChange={{action (pipe (action (mut this.selectedLabels)) (action "onSearchChange"))}}
              @onKeydown={{this.handleKeydown}} as |name|>
              {{name}}
            </PowerSelectMultiple>
          </div>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-3">
        Total results: {{this.meta.total}}
      </div>
    </div>
  </div>

  <t.head
    @onColumnClick={{action "onColumnClick"}}
    @iconSortable="fa fa-sort"
    @iconAscending="fa fa-sort-asc"
    @iconDescending="fa fa-sort-desc"
    @resizeOnDrag={{true}}
    @fixed={{true}}
  />

  <t.body
    @canSelect={{false}}
    @enableScaffolding={{true}}
    @onScrolledToBottom={{action "onScrolledToBottom"}} as |body|
  >
    {{#if isLoading}}
      {{#body.loader}}
        <Table::Loader />
      {{/body.loader}}
    {{else if table.isEmpty}}
      {{#body.no-data}}
        <center>
          <p><strong>Sorry, your filter produced no results</strong></p>
          To widen your search, change or remove filters above
        </center>
      {{/body.no-data}}
    {{/if}}
  </t.body>

{{/light-table}}
