<div class="detail-section">
  <div class="table-responsive d-flex input-group align-items-center">
    <label class="p-1 input-group-text font-weight-bold">Pour Point:</label>
    {{#if this.args.editable}}
      <Common::RangeValueInput
        @valueTitle="Pour Point"
        @valueObject={{this.args.oil}}
        @valueName="physical_properties.pour_point.measurement"
        @valueUnit="C"
        @valuePrecision="2"
        @sampleIndex={{this.args.sampleIndex}}
        @submit={{this.submit}}
      />
    {{else}}
      {{#if this.args.oil.physical_properties.pour_point.measurement}}
        <span>
          {{value-unit (convert-unit this.args.oil.physical_properties.pour_point.measurement "C") 2}}
        </span>
      {{else}}
        No Data
      {{/if}}
    {{/if}}  {{!-- editable --}}
  </div>

  &nbsp;

</div>
