<div class="detail-section">
  <div class="table-responsive">
    <center><strong>SARA Total Fractions:</strong></center>

    <table class="table table-hover table-bordered">
      <tbody id="sara-tbody">

        {{#each-in this.properties as |attr value|}}
          <tr>
            <td>{{value.label}}</td>
            {{#if (get this.args.oil.SARA attr)}}
              {{#with (get this.args.oil.SARA attr) as |sara|}}
                <td>
                  <Common::ValueUnitInput
                    @valueObject={{sara}}
                    @valueUnit="%"
                    @valuePrecision={{2}}
                    @editable={{this.args.editable}}
                    @submit={{fn this.updateCellValue (get value "label")}}
                  />
                </td>
              {{/with}}
            {{else}}
              {{#if this.args.editable}}
                <td>
                  <Common::ValueUnitInput
                    @valueObject=""
                    @valueUnit="%"
                    @valuePrecision={{2}}
                    @editable={{this.args.editable}}
                    @submit={{fn this.updateCellValue (get value "label")}}
                  />
                </td>
              {{else}}
                <td>No Data</td>
              {{/if}}
            {{/if}}
          </tr>
        {{/each-in}}

      </tbody>
    </table>

  </div>

</div>
