<div class="detail-section">
  <strong>Sulfur Content:</strong>

  {{#if @editable}}
    <Common::RangeValueInput
      @valueTitle="Sulfur Content"
      @valueObject={{@oil}}
      @valueName="sulfur.fraction"
      @valueUnit="%"
      @valuePrecision="2"
      @sampleIndex={{@sampleIndex}}
      @submit={{this.submit}}
    />
  {{else}}
    {{#if this.sulfurContent}}
      {{value-unit (convert-unit this.sulfurContent "%") 2}}
    {{else}}
      No Data
    {{/if}}
  {{/if}}

  &nbsp;

</div>
