<div class="detail-section">
  <strong>Wax Content:</strong>

  {{#if @editable}}
    <Common::RangeValueInput
      @valueTitle="Wax Content"
      @valueObject={{@oil}}
      @valueName="wax_content.fraction"
      @valueUnit="%"
      @valuePrecision="2"
      @sampleIndex={{@sampleIndex}}
      @submit={{this.submit}}
    />
  {{else}}
    {{#if this.waxContent}}
      {{value-unit (convert-unit this.waxContent "%") 2}}
    {{else}}
      No Data
    {{/if}}
  {{/if}}

  &nbsp;

</div>
