<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{@oil}}
    @editable={{@editable}}
    @submit={{@submit}}
    @sampleName={{@sampleName}}
    @sampleIndex={{@sampleIndex}}
  />

  <div class="row">
    <div class="col-lg-4">
      <Table::Sara
        @oil={{@oil}}
        @store={{@store}}
        @editable={{@editable}}
        @submit={{@submit}}
      />
    </div>
  </div>

  <Common::GroupedTables
    @oil={{@oil}}
    @store={{@store}}
    @editable={{@editable}}
    @submit={{@submit}}
    @propertyName="bulk_composition"
  />

</div>
