<div class="container-fluid">
  <center>
    {{#if editable}}
      <Input 
        @class="edit-sample-name p-1 my-3 flex-fill bg-transparent border"
        @value={{this.oil.name}}
        @placeholder="Enter Sample Name"
        @change={{action this.submit this.oil}} 
      />
    {{else}}
      <h4>{{sampleName}}</h4>
    {{/if}}

    {{#if (or oil.fraction_weathered oil.boiling_point_range)}}
      <p class="small">
        {{#if oil.fraction_weathered}}
          <strong>Weathered Fraction:</strong>
          {{#if editable}}
            <Input 
              @class="edit-fraction-weathered p-1 my-3 flex-fill bg-transparent border"
              @value={{this.oil.fraction_weathered}}
              @placeholder="Enter Weathered Fraction"
              @change={{action this.submit this.oil}} 
            />
          {{else}}
            {{#if oil.fraction_weathered.unit}}
              {{value-unit oil.fraction_weathered 2}}
            {{else}}
              {{oil.fraction_weathered}}
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if oil.boiling_point_range}}
          {{#if oil.fraction_weathered}}
            <br>
          {{/if}}
          <strong>BP Range:</strong>
          {{value-unit oil.boiling_point_range 2}}
        {{/if}}
      </p>
    {{/if}}
  </center>

  <div class="row">

    <div class="col-3">
      <Common::StaticTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle="CCME Fractions"
        @propertyName="ccme"
        @valueUnit="mg/g"
        @valuePrecision={{3}}
      />
    </div>

    <div class="col-3">
      <Common::PropertiesTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle="Saturates (F1)"
        @templateName="ccme_f1"
        @propertyName="ccme_f1"
      />
    </div>

    <div class="col-3">
      <Common::PropertiesTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle="Aromatics (F2)"
        @templateName="ccme_f2"
        @propertyName="ccme_f2"
      />
    </div>

    <div class="col-3">
      <Common::PropertiesTable
        @store={{this.store}}
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @tableTitle="GC-TPH (F1 + F2)"
        @templateName="ccme_tph"
        @propertyName="ccme_tph"
      />
    </div>

  </div>

</div>
