<div class="container">
  <center>
    <h4>{{sampleName}}</h4>
  </center>

  <div class="row">
    <Table::Ccme @oil={{oil}} class="col-5"/>
  </div>

  <div class="row">
    <Table::CcmeF1 @oil={{oil}} class="col-12"/>
  </div>

  <div class="row">
    <Table::CcmeF2 @oil={{oil}} class="col-12"/>
  </div>

  <div class="row">
    <Table::CcmeTph @oil={{oil}} class="col-12"/>
  </div>
</div>
