<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{this.args.oil}}
    @editable={{this.args.editable}}
    @submit={{this.args.submit}}
    @sampleName={{this.args.sampleName}}
  />

  <div class="row">

    <div class="col-3">
      <Common::StaticTable
        @store={{this.args.store}}
        @oil={{this.args.oil}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="CCME Fractions"
        @propertyName="ccme"
        @valueUnit="mg/g"
        @valuePrecision={{3}}
      />
    </div>

    <div class="col-3">
      <Common::PropertiesTable
        @store={{this.args.store}}
        @oil={{this.args.oil}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="Saturates (F1)"
        @templateName="ccme_f1"
        @propertyName="ccme_f1"
      />
    </div>

    <div class="col-3">
      <Common::PropertiesTable
        @store={{this.args.store}}
        @oil={{this.args.oil}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="Aromatics (F2)"
        @templateName="ccme_f2"
        @propertyName="ccme_f2"
      />
    </div>

    <div class="col-3">
      <Common::PropertiesTable
        @store={{this.args.store}}
        @oil={{this.args.oil}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="GC-TPH (F1 + F2)"
        @templateName="ccme_tph"
        @propertyName="ccme_tph"
      />
    </div>

  </div>

</div>
