<div class="container">
  <center>
    <h4>{{sampleName}}</h4>
  </center>

  <div class="row">
    <Table::Ccme @oil={{oil}} class="col-2"/>
    <Table::CcmeF1 @oil={{oil}} class="col-3"/>
    <Table::CcmeF2 @oil={{oil}} class="col-3"/>
    <Table::CcmeTph @oil={{oil}} class="col-3"/>
  </div>

</div>
