<div class="container-fluid">
  <center>
    {{#if editable}}
      <Input 
        @class="edit-sample-name p-1 my-3 flex-fill bg-transparent border"
        @value={{this.oil.name}}
        @placeholder="Enter Sample Name"
        @change={{action this.submit this.oil}} 
      />
    {{else}}
      <h4>{{sampleName}}</h4>
    {{/if}}

    {{#if (or oil.fraction_weathered oil.boiling_point_range)}}
      <p class="small">
        {{#if oil.fraction_weathered}}
          <strong>Weathered Fraction:</strong>
          {{#if editable}}
            <Input 
              @class="edit-fraction-weathered p-1 my-3 flex-fill bg-transparent border"
              @value={{this.oil.fraction_weathered}}
              @placeholder="Enter Weathered Fraction"
              @change={{action this.submit this.oil}} 
            />
          {{else}}
            {{#if oil.fraction_weathered.unit}}
              {{value-unit oil.fraction_weathered 2}}
            {{else}}
              {{oil.fraction_weathered}}
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if oil.boiling_point_range}}
          {{#if oil.fraction_weathered}}
            <br>
          {{/if}}
          <strong>BP Range:</strong>
          {{value-unit oil.boiling_point_range 2}}
        {{/if}}
      </p>
    {{/if}}
  </center>

  <div class="row">
    <div class="col-lg-4">
      <Table::Water 
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @sampleIndex={{this.sampleIndex}}
        class="col-4"
      />
    </div>

    <div class="col-lg-4">
      <Table::Wax
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @sampleIndex={{this.sampleIndex}}
        class="col-4"
      />
    </div>

    <div class="col-lg-4">
      <Table::Sulfur
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @sampleIndex={{this.sampleIndex}}
        class="col-4"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <Table::Sara
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @store={{this.parentView.oil.store}}
        class="col-6"
      />
    </div>
  </div>

  <div class="row">
    <Table::Benzene
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      class="col-6"/>
  </div>
  &nbsp;

  <div class="row">
    <Table::BenzeneBtex
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      class="col-6"/>

    <Table::BenzeneC4c6
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      class="col-6"/>
  </div>
  &nbsp;

  <Table::AlkylatedPah
    @oil={{this.oil}}
    @store={{this.parentView.oil.store}}
    @editable={{this.editable}}
    @submit={{this.submit}}
  />

  <div class="row">
    <Table::Alkane
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      class="col-12"/>
  </div>

  <div class="row">
  </div>

  <div class="row">
    <Table::Biomarkers
      @oil={{this.oil}}
      @editable={{this.editable}}
      @submit={{this.submit}}
      class="col-6"/>
  </div>

</div>
