<div class="container-fluid">
  <center>
    {{#if this.args.editable}}
      <Input 
        @class="edit-sample-name p-1 my-3 flex-fill bg-transparent border"
        @value={{this.args.oil.name}}
        @placeholder="Enter Sample Name"
        @change={{action this.args.submit this.args.oil}} 
      />
    {{else}}
      <h4>{{this.args.sampleName}}</h4>
    {{/if}}

    {{#if (or this.args.oil.fraction_weathered this.args.oil.boiling_point_range)}}
      <p class="small">
        {{#if this.args.oil.fraction_weathered}}
          <strong>Weathered Fraction:</strong>
          {{#if this.args.editable}}
            <Input 
              @class="edit-fraction-weathered p-1 my-3 flex-fill bg-transparent border"
              @value={{this.args.oil.fraction_weathered}}
              @placeholder="Enter Weathered Fraction"
              @change={{action this.args.submit this.args.oil}} 
            />
          {{else}}
            {{#if this.args.oil.fraction_weathered.unit}}
              {{value-unit this.args.oil.fraction_weathered 2}}
            {{else}}
              {{this.args.oil.fraction_weathered}}
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if this.args.oil.boiling_point_range}}
          {{#if this.args.oil.fraction_weathered}}
            <br>
          {{/if}}
          <strong>BP Range:</strong>
          {{value-unit this.args.oil.boiling_point_range 2}}
        {{/if}}
      </p>
    {{/if}}
  </center>

  <div class="row">
    <div class="col-lg-4">
      <Common::ValueUnitTable
        @valueArray={{this.args.oil.cuts}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="Distillation Cuts"
        @leftColumnTitle="Mass Percent"
        @leftColumnValueName="fraction"
        @leftColumnUnit="%"
        @leftColumnPrecision={{2}}
        @rightColumnTitle="Vapor Temperature"
        @rightColumnValueName="vapor_temp"
        @rightColumnUnit="C"
        @rightColumnPrecision={{2}}
      />
    </div>

    <div class="col-lg-5">
      <strong>Distillation Graph:</strong>

      <Graph::Distillation
        @oil={{this.args.oil}}
        @sampleName={{this.args.sampleName}}
      />
    </div>

  </div>
</div>
