<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{@oil}}
    @editable={{@editable}}
    @submit={{@submit}}
    @sampleName={{@sampleName}}
    @sampleIndex={{@sampleIndex}}
  />

  <div class="row">

    {{! Distillation Type }}
    <div class="col-sm-12 col-md-7 col-lg-4 input-group align-items-center">
      <label class="p-0 input-group-text font-weight-bold">Distillation Type:</label>
      {{#if @editable}}
        <select class="p-1 mt-1 overflow-hidden bg-transparent border"
            onchange={{action "updateDistillationType"}}
        >
          {{#if (includes this.distillationType @distillationTypes)}}
          {{else}}
            <option class="bg-light" selected>{{this.distillationType}}</option>
          {{/if}}

          {{#each @distillationTypes as |distillationType|}}
            {{#if (eq this.distillationType distillationType)}}
              <option class="bg-light" selected>{{distillationType}}</option>
            {{else}}
              <option class="bg-light">{{distillationType}}</option>
            {{/if}}
          {{/each}}
        </select>
      {{else}}
        <span class="p-1">{{this.distillationType}}</span>
      {{/if}}
    </div>

    {{! Fraction Recovered }}
    <div class="col-sm-12 col-md-7 col-lg-4 input-group align-items-center">
      <form class="form-inline justify-content-center">
        <div class="form-group">
          <strong>Fraction Recovered:&nbsp;</strong>

          {{#if @editable}}
            <Common::RangeValueInput
              @valueTitle="Fraction Recovered"
              @valueObject={{@oil}}
              @valueName="distillation_data.fraction_recovered"
              @valueUnit="%"
              @valueUnitType="massfraction"
              @valuePrecision="2"
              @sampleIndex={{@sampleIndex}}
              @submit={{action @submit @oil}}
            />
          {{else}}
            {{value-unit (convert-unit @oil.distillation_data.fraction_recovered "%") 2}}
          {{/if}}

        </div>
      </form>
    </div>

    {{! End Point }}
    <div class="col-sm-12 col-md-7 col-lg-4 input-group align-items-center">
      <form class="form-inline justify-content-center">
        <div class="form-group">
          <strong>Terminal Boiling Point:&nbsp;</strong>

          {{#if @editable}}
            <Common::RangeValueInput
              @valueTitle="Terminal Boiling Point"
              @valueObject={{@oil}}
              @valueName="distillation_data.end_point"
              @valueUnit="C"
              @valueUnitType="temperature"
              @valuePrecision="2"
              @sampleIndex={{@sampleIndex}}
              @submit={{action @submit @oil}}
              @attachment="center right"
              @targetAttachment="center right"
            />
          {{else}}
            {{value-unit (convert-unit @oil.distillation_data.end_point "C") 2}}
          {{/if}}

        </div>
      </form>
    </div>

    {{! Distillation Method }}
    <div class="col-sm-12 col-md-7 col-lg-4 input-group align-items-center">
      <label class="p-0 input-group-text font-weight-bold">Method:</label>
      {{#if @editable}}
        {{#let (if @oil.distillation_data.method @oil.distillation_data.method "") as |distillationMethod|}}
          <Input
            class="p-1 overflow-hidden bg-transparent border"
            @value={{distillationMethod}}
            placeholder="Enter Distillation Method" disabled={{not @editable}} {{on "change" (action "updateDistillationMethod")}}
          />
        {{/let}}
      {{else}}
        {{#let (if @oil.distillation_data.method @oil.distillation_data.method "None") as |distillationMethod|}}
          <span class="p-1">{{distillationMethod}}</span>
        {{/let}}
      {{/if}}
    </div>

  </div>

  <div class="row">
    <div class="col-lg-4">
      <Table::Distillation
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        @leftColumnUnitType="concentration"
      />
    </div>

    <div class="col-lg-5">
      <strong>Distillation Graph:</strong>

      <Graph::Distillation
        @oil={{@oil}}
        @sampleName={{@sampleName}}
      />
    </div>

  </div>
</div>
