<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{this.args.oil}}
    @editable={{this.args.editable}}
    @submit={{this.args.submit}}
    @sampleName={{this.args.sampleName}}
  />

  <div class="row">
    <div class="col-lg-4">
      <Common::ValueUnitTable
        @valueArray={{this.args.oil.cuts}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="Distillation Cuts"
        @leftColumnTitle="Mass Percent"
        @leftColumnValueName="fraction"
        @leftColumnUnit="%"
        @leftColumnPrecision={{2}}
        @rightColumnTitle="Vapor Temperature"
        @rightColumnValueName="vapor_temp"
        @rightColumnUnit="C"
        @rightColumnPrecision={{2}}
      />
    </div>

    <div class="col-lg-5">
      <strong>Distillation Graph:</strong>

      <Graph::Distillation
        @oil={{this.args.oil}}
        @sampleName={{this.args.sampleName}}
      />
    </div>

  </div>
</div>
