<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{@oil}}
    @editable={{@editable}}
    @submit={{@submit}}
    @sampleName={{@sampleName}}
    @sampleIndex={{@sampleIndex}}
  />

  <div class="row">
    <div class="col-lg-4">
      <Common::ValueUnitTable
        @valueArray={{@oil.distillation_data.cuts}}
        @editable={{@editable}}
        @submit={{@submit}}
        @tableTitle="Distillation Cuts"
        @leftColumnTitle="Mass Fraction"
        @leftColumnValueName="fraction"
        @leftColumnUnit="%"
        @leftColumnPrecision={{2}}
        @rightColumnTitle="Vapor Temperature"
        @rightColumnValueName="vapor_temp"
        @rightColumnUnit="C"
        @rightColumnPrecision={{2}}
      />
    </div>

    <div class="col-lg-5">
      <strong>Distillation Graph:</strong>

      <Graph::Distillation
        @oil={{@oil}}
        @sampleName={{@sampleName}}
      />
    </div>

  </div>
</div>
