<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{this.args.oil}}
    @editable={{this.args.editable}}
    @submit={{this.args.submit}}
    @sampleName={{this.args.sampleName}}
  />

  <div class="row">

    <div class="col-6">
      <Common::ListPropertiesTable
        @oil={{this.args.oil}}
        @store={{this.args.store}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="Chemical Dispersibility"
        @propertyName="chemical_dispersibility"
      />
    </div>
    <div class="col-6">
      <Common::ListPropertiesTable
        @oil={{this.args.oil}}
        @store={{this.args.store}}
        @editable={{this.args.editable}}
        @submit={{this.args.submit}}
        @tableTitle="Emulsion Properties"
        @templateName="emulsions"
        @propertyName="emulsions"
        @headerPosition="side"
      />
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
    </div>
  </div>

</div>
