<div class="container">
  <center>
    <h4>
      {{round-relative (mult weathered 100) 2}}% Evaporated
      {{#if (eq weathered 0)}}
        (Fresh)
      {{/if}}
    </h4>
  </center>

  <div class="row">
    <Table::Emulsion @oil={{oil}} @weathered={{weathered}} class="col-12"/>

    <Table::EvaporationEqs @oil={{oil}} @weathered={{weathered}} class="col-5"/>

    <Table::ChemicalDispersibility @oil={{oil}} @weathered={{weathered}} class="col-5"/>

    <Table::Toxicity @oil={{oil}} @weathered={{weathered}} class="col-5"/>
  </div>

</div>
