<div class="container">
  <center>
    <h4>{{sampleName}}</h4>
  </center>

  <div class="row">
    <div class="col-5">
      <Table::EvaporationEqs @oil={{oil}}/>

      <Table::ChemicalDispersibility @oil={{oil}}/>

      <Table::Toxicity @oil={{oil}}/>
    </div>

    <Table::Emulsion @oil={{oil}} class="col-5"/>
  </div>

</div>
