<div class="container">
  <center>
    <h4>{{sampleName}}</h4>
  </center>

  <div class="row">
    <Table::Emulsion @oil={{oil}} class="col-12"/>

    <Table::EvaporationEqs @oil={{oil}} class="col-5"/>

    <Table::ChemicalDispersibility @oil={{oil}} class="col-5"/>

    <Table::Toxicity @oil={{oil}} class="col-5"/>
  </div>

</div>
