<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{@oil}}
    @editable={{@editable}}
    @submit={{@submit}}
    @sampleName={{@sampleName}}
    @sampleIndex={{@sampleIndex}}
  />

  <Common::GroupedTables
    @oil={{@oil}}
    @store={{@store}}
    @editable={{@editable}}
    @submit={{@submit}}
    @propertyName="industry_properties"
  />

</div>
