<center>
  {{#if @editable}}
    <Input
      @class="edit-sample-name p-1 my-3 flex-fill bg-transparent border"
      @value={{@oil.metadata.name}}
      @placeholder="Enter Sample Name"
      @change={{action @submit @oil}}
    />
  {{else}}
    <h4>
      {{@oil.metadata.name}}
    </h4>
  {{/if}}

  {{#if (or @oil.metadata.fraction_weathered @oil.metadata.boiling_point_range)}}
    <p class="small">
      {{#if (or @oil.metadata.fraction_weathered @editable)}}
        <form class="form-inline justify-content-center" role="form">
          <div class="form-group">
            <strong>Weathered Fraction:&nbsp;</strong>
            <Common::ValueUnitInput
              @valueObject={{@oil.metadata.fraction_weathered}}
              @valueUnit="%"
              @valuePrecision={{2}}
              @editable={{@editable}}
              @submit={{action @submit @oil}}
            />
          </div>
        </form>
      {{/if}}

      {{#if (or @oil.metadata.boiling_point_range @editable)}}
        <strong>
          BP Range:
        </strong>
        {{#if @editable}}
          <Common::RangeValueInput
              @valueTitle="BP Range"
              @valueObject={{@oil}}
              @valueName="metadata.boiling_point_range"
              @valueUnit="C"
              @valuePrecision="2"
              @sampleIndex={{@sampleIndex}}
              @submit={{this.submit}}
          />
        {{else}}
          {{value-unit (convert-unit @oil.metadata.boiling_point_range "C") 2}}
        {{/if}}

      {{/if}}

      {{!-- {{#if @oil.boiling_point_range}}
            {{#if @oil.fraction_weathered}}
            <br>
            {{/if}}

            {{#if @editable}}
            <Common::RangeValueInput
                @valueTitle="BP Range:"
                @valueObject={{@oil}}
                @valueName="boiling_point_range"
                @valueUnit="C"
                @valuePrecision="2"
                @sampleIndex={{@sampleIndex}}
                @submit={{this.submit}}
            />
            {{else}}
            <strong>BP Range:</strong>
            {{value-unit @oil.boiling_point_range 2}}
            {{/if}}
        {{/if}} --}}
    </p>
  {{/if}}
</center>
