<div class="container">
  <center>
    <h4>{{sampleName}}</h4>

    {{#if (or oil.fraction_weathered oil.boiling_point_range)}}
      <p class="small">
        {{#if oil.fraction_weathered}}
          <strong>Weathered Fraction:</strong>
          {{#if oil.fraction_weathered.unit}}
            {{value-unit oil.fraction_weathered 2}}
          {{else}}
            {{oil.fraction_weathered}}
          {{/if}}
        {{/if}}

        {{#if oil.boiling_point_range}}
          {{#if oil.fraction_weathered}}
            <br>
          {{/if}}
          <strong>BP Range:</strong>
          {{value-unit oil.boiling_point_range 2}}
        {{/if}}
      </p>
    {{/if}}
  </center>

  <div class="row">
    <div class="col-lg-4">
      <TabPourPoint
        @oil={{oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @sampleIndex={{this.sampleIndex}}
        class="row"
      />
    </div>

    <div class="col-lg-4">
      <TabFlashPoint
        @oil={{oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @sampleIndex={{this.sampleIndex}}
        class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::Adhesion
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        @sampleIndex={{this.sampleIndex}}
        class="row"/>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <Table::Density
        @oil={{this.oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::KinematicViscosity
        @oil={{oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::DynamicViscosity
        @oil={{oil}}
        @editable={{this.editable}}
        @submit={{this.submit}}
        class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::Ift
        @oil={{oil}}
        @editable={{this.editable}}
        @interfaces={{array
          ""
          "air"
          "water"
          "seawater"}}
        @submit={{this.submit}}
        class="row"/>
    </div>

    <div class="col-lg-4">
      {{! Placeholder div so that the last container lines up
          with the first column.  Only necessary for an odd number
          of containers }}
    </div>

  </div>
</div>
