<div class="container-fluid">

  <TabPane::PaneHeader
    @oil={{@oil}}
    @editable={{@editable}}
    @submit={{@submit}}
    @sampleName={{@sampleName}}
    @sampleIndex={{@sampleIndex}}
  />

  <div class="row">
    <div class="col-lg-4">
      <Table::PourPoint
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        @sampleIndex={{@sampleIndex}}
        class="row"
      />
    </div>

    <div class="col-lg-4">
      <Table::FlashPoint
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        @sampleIndex={{@sampleIndex}}
        class="row"/>
    </div>

    <div class="col-lg-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <Table::Density
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        class="row"/>
    </div>

    <div class="col-md-6 col-lg-4">
      <Table::KinematicViscosity
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        class="row"/>
    </div>

    <div class="col-md-6 col-lg-4">
      <Table::DynamicViscosity
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        class="row"/>
    </div>

    <div class="col-lg-8">
      <Table::Ift
        @oil={{@oil}}
        @editable={{@editable}}
        @submit={{@submit}}
        @interfaces={{array
          ""
          "air"
          "water"
          "seawater"}}
        class="row"/>
    </div>

    <div class="col-xs-6 col-sm-6 col-lg-4">
      {{! Placeholder div so that the last container lines up
          with the first column.  Only necessary for an odd number
          of containers }}
    </div>

  </div>
</div>
