<div class="container">
  <center>
    <h4>{{sampleName}}</h4>
  </center>

  <div class="row">

    <div class="col-lg-4">
      <TabPourPoint @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      <TabFlashPoint @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::Adhesion @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::Density @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::KinematicViscosity @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::DynamicViscosity @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      <Table::Ift @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-4">
      {{! Placeholder div so that the last container lines up
          with the first column.  Only necessary for an odd number
          of containers }}
    </div>

  </div>
</div>
