<div class="container-fluid">
  <div class="row pt-1">

    <div class="col-xs-6 col-sm-6 col-lg-4">
      <div class="row pl-0 mb-1">
        <strong>Subsample Name:&nbsp;</strong>
        {{#if @editable}}
          <Input
            @class="p-0 flex-fill bg-transparent border"
            @value={{@oil.metadata.name}}
            @placeholder="Enter Sample Name"
            @change={{action @submit @oil}}
          />
        {{else}}
          {{@oil.metadata.name}}
        {{/if}}
      </div>

      <div class="row pl-0 mb-1">
        <strong>Short Name:&nbsp;</strong>
        {{#if @editable}}
          <Input
            @class="p-0 flex-fill bg-transparent border"
            @value={{@oil.metadata.short_name}}
            @placeholder="Enter Short Name"
            @change={{action @submit @oil}}
          />
        {{else}}
          {{@oil.metadata.short_name}}
        {{/if}}
      </div>

      <div class="row pl-0 mb-1">
        <strong>Sample ID:&nbsp;</strong>
        {{#if @editable}}
          <Input
            @class="p-0 flex-fill bg-transparent border"
            @value={{@oil.metadata.sample_id}}
            @placeholder="Enter Sample ID"
            @change={{action @submit @oil}}
            size="10"
          />
        {{else}}
          {{@oil.metadata.sample_id}}
        {{/if}}
      </div>

      <div class="row pl-0 mb-1">
        <form class="form-inline justify-content-center" role="form">
          <div class="form-group">
            <strong>Fraction Evaporated:&nbsp;</strong>
            <Common::ValueUnitInput
              @valueObject={{@oil.metadata.fraction_evaporated}}
              @valueUnit="%"
              @valuePrecision={{2}}
              @editable={{@editable}}
              @submit={{action @submit @oil}}
            />
          </div>
        </form>
      </div>

      <div class="row pl-0 mb-1">
        <strong>BP Range:&nbsp;</strong>
        {{#if @editable}}
          <Common::RangeValueInput
              @valueTitle="BP Range"
              @valueObject={{@oil}}
              @valueName="metadata.boiling_point_range"
              @valueUnit="C"
              @valuePrecision="2"
              @sampleIndex={{@sampleIndex}}
              @submit={{action @submit @oil}}
          />
        {{else}}
          {{value-unit (convert-unit @oil.metadata.boiling_point_range "C") 2}}
        {{/if}}
      </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-lg-4">
      <div class="row pl-1 mb-1">
        <div class="col-12 input-group">
          <label class="p-1 input-group-text font-weight-bold">Description:</label>
          {{#let (if @oil.metadata.description
                  @oil.metadata.description
                  (if @editable "" "None")) as |sampleDescription|}}
            <Textarea
              @class="p-1 reference-textarea overflow-hidden bg-transparent border"
              @value={{sampleDescription}}
              @placeholder="Enter description"
              @change={{action "updateDescription"}}
              rows="4"
              disabled={{not @editable}}
            />
          {{/let}}
        </div>
      </div>

    </div>

  </div>
</div>
